<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <h2 class="page-title" style="margin-top:35px;" hide-xs>Nos expositions</h2>
                <div layout style="">
                    <div layout="column" hide-gt-sm>
                        <md-button ng-click="selectNotreBoutique()" class="md-primary" style="font-size:20px;">
                            Notre boutique
                        </md-button>
                        <md-button ng-click="selectNosExpositions()" class="md-primary" style="font-size:20px;">
                            Nos expositions
                        </md-button>
                    </div>
                    <div layout="row" flex style="font-size:28x; margin-top:85px;">
                        <div ng-include="'/static/templates/general/sidenav.html'"></div>

                        <md-content flex layout-padding style="background-color:#fffdfa;font-size:20px; margin-top:-20px;">
                            <div ng-if="(all_expos | isEmptyArray)">
                                <h1 class="text-centered">Rien en ce moment</h1>
                            </div>
                            <div class="cy-exposition"
                                 layout layout-align="space-between start"
                                 ng-if="showExpoEnCours && !(all_expos | isEmptyArray)">
                                <div layout="column" layout-align="start start" flex="100">
                                    <div >
                                        <h2>{{currentExposition.titre}} - {{currentExposition.artiste}}</h2>
                                        <div style="float: right;">
                                            <img src="{{ currentExposition.photo_artiste}}"
                                                 alt="Artiste"
                                                 style="max-height:200px; height:auto; width:auto; float: right;"/></div>
                                        <p style="font-size:80%; font-style:italic; color:#574128;">
                                            {{ currentExposition.didascalie}}
                                        </p>

                                        <p>{{currentExposition.texte}}</p>
                                    </div>

                                    <div layout="column" flex="100">
                                        <div class="cy-exposition-photo">
                                            <div layout="row" layout-align="space-between start" style="flex-wrap: wrap">
                                                <div layout="column" flex="40"
                                                     ng-repeat="photo in currentExposition.photos">
                                                    <img src="{{ photo.photo}}"
                                                         alt="Photo Exposition"
                                                         style="max-height:250px; height:auto; width:auto;">
                                                    <p class="text-centered">{{photo.legende}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cy-exposition"
                                 layout layout-align="space-between start"
                                 ng-if="showExpoPassees" ng-repeat="expo in expos">
                                <div layout="column" layout-align="start start" flex="100">
                                    <div style="margin-bottom:15px;">
                                        <h2>{{expo.titre}} - {{expo.artiste}}</h2>
                                        <div style="float: right;">
                                            <img src="{{ expo.photo_artiste}}"
                                                 alt="Artiste"
                                                 style="max-height:200px; height:auto; width:auto; float: right;"/></div>
                                        <p style="font-size:80%; font-style:italic; color:#574128;">
                                            {{ expo.didascalie}}
                                        </p>
                                        <p>{{expo.texte}}</p>
                                    </div>
                                    <div layout="column" flex="100">
                                        <div class="cy-exposition-photo">
                                            <div layout="row" layout-align="space-between start" style="flex-wrap: wrap">
                                                <div layout="column" flex="40"
                                                     ng-repeat="photo in expo.photos">
                                                    <img src="{{ photo.photo}}"
                                                         alt="Photo Exposition"
                                                         style="max-height:250px; height:auto; width:auto;">
                                                    <p class="text-centered">{{photo.legende}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </md-content>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>

