<!DOCTYPE html>
<html ng-app="organic_azuki" ng-controller="LandingPageController as vm">
<meta charset="ISO-8859-1">
<head>
    <title>Organic Azuki</title>
    <link rel="icon" href="/static/img/logos/icon.png">
    <meta name="google-site-verification" content="aQya4QSU5_rIPsRot3UMwkXZ4qOhqeCzJmKgPA0uX_g" />
    <base href="/" />

    {% include 'organic_azuki/stylesheets.html' %}
</head>


{% load static %}
{% load staticfiles %}
<body>

   <div id="view" class="ng-view oa-view">

   </div>

{% include 'organic_azuki/javascripts.html' %}
</body>
</html>


