{% load compress %}
{% load staticfiles %}


{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<link rel="text/javascript" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js">
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'javascripts/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vendor/popper/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vendor/bootstrap/bootstrap.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'javascripts/vendor/agency.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="{% static 'javascripts/vendor/jquery-easing/jquery.easing.min.js' %}"></script>


<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-messages/angular-messages.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/moment/locale/fr.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-moment/angular-moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-calendar/src/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/fullcalendar/dist/gcal.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-dialog/js/ngDialog.js' %}"></script>


<!-- ReCaptcha -->
<!--<script type="text/javascript" src='https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded' async defer></script>-->
<script type="text/javascript" src="{% static 'bower_components/angular-recaptcha/release/angular-recaptcha.js' %}"></script>

<!-- Plugin Stripe -->
<script type="text/javascript" src="{% static 'bower_components/angular-payments/lib/angular-payments.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/organic_azuki.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organic_azuki.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organic_azuki.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/settings.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/recovery.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/shop/shop.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/shop/services/shop.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/shop/controllers/shop.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/shop/controllers/panier.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/shop/controllers/sidenav.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/services/layout.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/banner.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/landingpage.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/contact.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/instagram.controller.js' %}"></script>
<!--
<script type="text/javascript" src="{% static 'javascripts/yoga/yoga.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/yoga/services/yoga.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/yoga/controllers/yoga.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/yoga/controllers/yoga.reservation.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/yoga/controllers/yoga.cancellation.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/yoga/controllers/yoga.animators.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/yoga/controllers/yoga.recharge.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/boutique/boutique.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/boutique/services/boutique.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/boutique/controllers/boutique.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/evenements/evenements.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/evenements/services/evenements.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/evenements/controllers/evenements.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/restaurant/restaurant.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/restaurant/services/restaurant.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/restaurant/controllers/carte.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/restaurant/controllers/restaurant.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/restaurant/controllers/nosproduits.controller.js' %}"></script>
-->
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/messaging.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/config.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

{% endcompress %}

<script type="text/javascript" src="https://js.stripe.com/v2/" defer></script>