{% load staticfiles %}
md-toast.md-toast-theme {
    background-color: green;
}

.perm-icons-row{
   margin:15px 0;

}
.perm-icons-link{
   margin:0 10px;
}
.perm-icons-link:hover *{
   color: #87102b;
}

.perm-icons:hover{
   color: #87102b;
   cursor: pointer;
}
.perm-icons-row .perm-icons{
   font-size:42px;
}

.central-logo{
  position: relative;


}
.central-logo:before
{
    content: '';
    width: 130%;
    border-bottom: solid 1px #5D3B0A;
    position: absolute;
    left: -15%;
    top:  -50px;
}

.central-logo:after{
    content: '';
    width: 130%;
    border-bottom: solid 1px #5D3B0A;
    position: absolute;
    left: -15%;
    bottom: -50px;
}

.navbar-row{

}

.navbar-item{
   font-family:Shadows Into Light Two;
   font-size:26px;
   margin:0 45px;
}

.navbar-item-large{
   font-family:Shadows Into Light Two;
   font-size:32px;
   margin:0 45px;
}
.navbar-item:hover,
.navbar-item-large:hover{
   text-decoration:none;
   color:#87102b;
   cursor: pointer;
}

.navbar-dropdrown{
  position: relative;
  display: inline-block;
}
.navbar-dropdown:hover .navbar-dropdown-content {display: block;}
.navbar-dropdown:hover .navbar-dropbtn {}

.navbar-dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.navbar-dropdown-content a{
    text-decoration: none;
    display: block;
    font-family:Shadows Into Light Two;
    color: #3f3f3f;
    font-size:22px;
    margin: 10px auto;
}

.navbar-dropdown-content a:hover{
   color:#87102b;
}

.instagram-title{
   font-family:Shadows Into Light;
   color: #3f3f3f;
   font-size:26px;
   margin: 15px 10px;
}

.instagram-caption{
   font-family:Shadows Into Light;
   color: #87102b;
   font-size:24px;
}

.footer-links{
   padding: 30px 30px 0 30px;
}

.footer-link-title{
   font-family:Shadows Into Light Two;
   color: #3f3f3f;
   font-size:30px;
   margin: auto;
}

.footer-link{
   font-family:Shadows Into Light Two;
   color: #3f3f3f;
   font-size:26px;
   margin: 5px 10px;
}

.footer-link:hover{
   text-decoration:none;
   color:#87102b;
   cursor: pointer;
}

.banner{
   height:100px;
   margin-bottom:50px;
   /*background-color: white;/*rgba(240,240,240,0.8);*/
}

