<div ng-include="'/static/templates/general/navbar.html'"></div>

<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Notre charte</div>
      <div class="intro-heading"></div>
    </div>
  </div>
</header>

<section class="central-container row">
    <div class="central-text-container">
Lorem ipsum dolor sit amet, paulo fabulas perpetua no mel, alii corrumpit in vel.
<br><br>Eu per unum zril doctus, id sed dicant inimicus, iusto pertinax platonem mei at.
Ea sit scripta ancillae. Ut mea lorem augue. Pri in veri possit mollis.
        Te ludus molestiae dignissim vis, quo salutatus reprehendunt te.

<br><br>Tempor persequeris sea eu, cu recusabo delicatissimi vis, id doctus volumus partiendo est.
        Enim atomorum eam ex, eu altera prompta has, id voluptua singulis mnesarchum est.
        At eam expetendis vituperata.
        Sit iriure persecuti instructior eu, est mollis mediocritatem cu, sed harum suavitate no.

<br><br>Modo solet mei te. Quo graecis maiorum salutandi no, duo postea impedit et.
        Mei eu esse dicunt maluisset, at illum persius omnesque sea.
        Convenire maluisset ius an, et usu brute timeam antiopam, ei vix sumo copiosae.
        Recteque interesset no eam. No est vide habemus consetetur.

        <!--
<br><br>Vix dicam offendit luptatum cu, adhuc quaeque ad ius, ad dicit nihil duo.
        Vis cu quem modo scripserit, eligendi adipiscing ea pri. Mei no eirmod necessitatibus, suas libris ius te.
        Mel ignota fabulas deterruisset ne, omnis sonet animal per in.
        Ut hinc vitae probatus his, sea indoctum persequeris an.
        At dicta graeci repudiandae pro, in sed mazim epicuri pertinax.

<br><br>Vis ad laboramus consectetuer.
        No illud torquatos mediocritatem nec, pro te justo summo debitis.
        Eu eum mazim elitr vivendum.
        Ut per diam docendi repudiandae, lorem nusquam no pro.
        Duis scripserit his te, has tamquam argumentum ea.

<br><br>Modo solet mei te. Quo graecis maiorum salutandi no, duo postea impedit et.
        Mei eu esse dicunt maluisset, at illum persius omnesque sea.
        Convenire maluisset ius an, et usu brute timeam antiopam, ei vix sumo copiosae.
        Recteque interesset no eam. No est vide habemus consetetur.

<br><br>Vix dicam offendit luptatum cu, adhuc quaeque ad ius, ad dicit nihil duo.
        Vis cu quem modo scripserit, eligendi adipiscing ea pri. Mei no eirmod necessitatibus, suas libris ius te.
        Mel ignota fabulas deterruisset ne, omnis sonet animal per in.
        Ut hinc vitae probatus his, sea indoctum persequeris an.
        At dicta graeci repudiandae pro, in sed mazim epicuri pertinax.

<br><br>Vis ad laboramus consectetuer.
        No illud torquatos mediocritatem nec, pro te justo summo debitis.
        Eu eum mazim elitr vivendum.
        Ut per diam docendi repudiandae, lorem nusquam no pro.
        Duis scripserit his te, has tamquam argumentum ea.-->
   </div>
</section>