<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <div layout style="margin-top:150px; margin-bottom:70px;">
                    <div ng-include="'/static/templates/general/sidenav.html'" style="min-width:300px;"></div>
                    <section class="text-container" style="margin-top:-50px;">
                        <div class="container">
                            <div ng-if="fermetures_days.length > 1">
                                <div layout style="margin-bottom:5%;">
                                    <md-icon style="font-size:30px; color: orange; vertical-align: middle;margin:  auto;">
                                        warning
                                    </md-icon>
                                    <div style="font-size:20px; font-style: bold; margin-left:20px;">
                                        Fermeture exceptionnelle du {{ fermetures_days[0] }} au {{ fermetures_days[1] }} inclus
                                    </div>
                                </div>
                            </div>
                            <div ng-if="fermetures_days.length == 1">
                                <div class ="row">
                                    <i class="fa fa-warning" style="font-size:30px;color:orange"></i>
                                    <div style="font-size:20px; font-style: bold; margin-bottom:5%;">
                                        Fermeture exceptionnelle le {{ fermetures_days[0] }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <form role="form" ng-submit="reservation()" name="reservation_form">
                                    <div  style="font-size:26px; border: 1px solid red; background-color : #f2f2f2; color:red;"
                                          class="alert alert-danger" ng-show="error" ng-bind="error">
                                    </div>
                                    <div style="font-size:26px; border: 1px solid green; background-color : #f2f2f2; color:green;"
                                         class="alert alert-danger" ng-show="success" ng-bind="success">
                                    </div>
                                    <md-input-container>
                                        <md-select class="form-control quicksand-md"
                                                   validate-on="submit"
                                                   ng-required="1"
                                                   style="font-size:20px;"
                                                   ng-model="selectedDate"
                                                   placeholder="Sélectionnez un jour"
                                                   ng-change="changeDay()">
                                            <md-select-header>
                                                <span  style="font-size:20px;"> Sélectionnez un jour </span>
                                            </md-select-header>
                                            <md-option ng-value="day.locale" ng-repeat="day in select_day_list">{{ day.locale }}</md-option>
                                        </md-select>
                                    </md-input-container>


                                    <md-input-container>
                                        <md-select class="form-control"
                                                   validate-on="submit"
                                                   ng-required="1"
                                                   style="font-size:20px;"
                                                   ng-model="selectedHour"
                                                   placeholder="Sélectionnez une heure"
                                                   ng-change="changeHour()">
                                            <md-select-header>
                                                <span  style="font-size:20px;"> Sélectionnez une heure </span>
                                            </md-select-header>
                                            <md-option ng-value="slot" ng-repeat="slot in selected_day_hours">{{ slot }}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container>
                                        <md-select ng-required="1"
                                                   style="font-size:20px;"
                                                   ng-model="selectedNumberOfPersons"
                                                   placeholder="Pour combien ?"
                                                   ng-change="changeNbPersons()">
                                            <md-select-header>
                                                <span  style="font-size:20px;"> Pour combien ? </span>
                                            </md-select-header>
                                            <md-option ng-value="n" ng-repeat="n in number_of_persons">{{ n }}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <h3 style="margin-top:5%; margin-bottom:3%;">Vos informations personnelles :</h3>

                                    <div class="form-group reservation-input" >
                                        <label class="quicksand-md" for="reservation_nom">Nom (obligatoire)</label>
                                        <input style="font-size:20px; background-color:#f8e4c8;"
                                               name="nom"
                                               type="text"
                                               class="form-control"
                                               id="reservation_nom"
                                               ng-model="reservation_nom"
                                               ng-required="1"
                                               validate-on="submit"
                                               oninvalid="this.setCustomValidity('Champ obligatoire')"
                                               oninput="setCustomValidity('')"
                                               ng-change="changeForm()"/>
                                    </div>
                                    <div class="form-group reservation-input" >
                                        <label class="quicksand-md"  for="reservation_email">Email (obligatoire)</label>
                                        <input style="font-size:20px; background-color:#f8e4c8;"
                                               name="email"
                                               type="email"
                                               class="form-control"
                                               id="reservation_email"
                                               ng-model="reservation_email"
                                               ng-required="1"
                                               oninvalid="this.setCustomValidity('Champ obligatoire')"
                                               oninput="setCustomValidity('')"
                                               ng-change="changeForm()"/>
                                    </div>
                                    <div class="form-group reservation-input">
                                        <label class="quicksand-md" for="reservation_tel">Téléphone (optionnel)</label>
                                        <input style="font-size:20px; background-color:#f8e4c8;"
                                               type="text"
                                               class="form-control"
                                               id="reservation_tel"
                                               ng-model="reservation_tel"
                                               ng-change="changeForm()"/>
                                    </div>
                                    <div class="form-group reservation-input" >
                                        <label class="quicksand-md" for="reservation_comment">Commentaire (optionnel)</label>
                                        <textarea  style="font-size:20px; background-color:#f8e4c8;"
                                                   id="reservation_comment"
                                                   ng-model="reservation_comment"
                                                   class="form-control"
                                                   ng-change="changeForm()"/>
                                    </div>
                                    <div style="margin: 0 auto;" class="form-group">
                                        <md-button
                                                type="submit"
                                                class="md-primary md-raised cy-button">
                                            Réserver
                                        </md-button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>