<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <div layout style="margin-top:150px;">

                    <div ng-include="'/static/templates/general/sidenav.html'"></div>

                    <div flex layout-padding style="background-color:#fffdfa;font-size:20px; margin-top:-20px;">
                        <div class="cy-exposition"
                             layout layout-align="center center" ng-repeat="animator in animators" style="margin-bottom:60px;">
                            <div layout="column" flex="80" layout-align="space-between start"
                                 style="border: 1px solid #3f3f3f;padding:10px;border-radius:10px;">

                                <div layout layout-align="start start" style="width:100%; margin-bottom:0px;"
                                     layout-md="column">
                                    <div layout="column"
                                         flex="90"
                                         layout-align="space-between start"
                                         style="margin:0 20px;width:100%;">
                                        <h3 class="text-centere" style="margin-bottom:30px;">{{animator.prenom}} {{animator.nom}}</h3>
                                        <p>{{animator.description }}</p>
                                        <a style="margin: 0 2% 2% 0; min-width:100%;" class="animator-link" href="http://{{animator.lien}}"> {{animator.lien }}</a>
                                    </div>

                                    <div ng-if="animator.photo !== ''">
                                        <img src="{{animator.photo}}" alt="{{animator.nom}}"
                                             style="max-height:200px; height:auto; width:auto; float: right;"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>