<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <section class="text-container">
                    <h2 style="text-align: center;">Bonjour {{  account.first_name }} {{  account.last_name }}</h2><br><br>
                    <div ng-if="cancellationSuccessful" class="text-centered" ng-if="alert_message" style="margin-top:5%;margin-bottom:15%;">
                        <h2>Votre réservation a bien été annulée !</h2>
                        <h4>Vous pouvez réserver un autre cours en retournant au calendrier :</h4>

                        <div style="margin: 5% auto auto auto;" layout="column" flex="20">
                            <md-button
                                    ng-click="gotoCalendar()"
                                    class="md-primary md-raised cy-button">
                                Retour
                            </md-button>
                        </div>
                    </div>
                    <div ng-if="!cancellationSuccessful">
                        <h2>Vous souhaitez annuler votre réservation</h2>
                        <div layout="row" layout-sm="column" layout-md="column"  style="margin-top:5%;">
                            <div layout="column" flex-gt-md="45" flex="100">
                                <h2 style="text-align: center;">Votre cours :</h2>
                                <div class="pending-reservation-lesson">
                                    <h2 class="pending-reservation-lesson-detail text-centered" style="font-weight: 900;">{{ lesson.type }} {{ lesson.intensity }} </h2>
                                    <h3 class="pending-reservation-lesson-detail text-centered" > Animé par : {{ lesson.animator.prenom }} {{ lesson.animator.nom }}</h3>
                                    <h3 class="pending-reservation-lesson-detail text-centered" >{{ meta.day}} à {{meta.start}}</h3>
                                    <h3 class="pending-reservation-lesson-detail text-centered" >Durée : {{meta.duration}} minutes</h3>
                                    <h3 class="pending-reservation-lesson-detail text-centered" >Places restantes : {{ lesson.nb_places }}</h3>
                                </div>
                            </div>
                            <div hide-gt-md layout style="height : 50px;"/>
                            <div layout="column" flex-offset-gt-md="10" flex-gt-md="45" flex="100">
                                <h2 style="text-align: center;">Votre réservation :</h2>
                                <div style="height:100%;" class="pending-reservation-lesson">
                                    <table style="min-width: 100%; height:100%; margin:auto;">
                                        <td style="font-weight: bolder;">Solde actuel</td>
                                        <td style="font-weight: bolder;">{{ account.credits }} </td>
                                        <tr>
                                            <td>Nombre de places réservées</td>
                                            <td>{{ nb_persons }} </td>
                                        </tr>
                                        <tr>
                                            <td>Prix/personne : </td>
                                            <td>{{ lesson.price }} </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bolder;">Prix total</td>
                                            <td style="font-weight: bolder;">{{ meta.total_price }} </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bolder;">Solde après réservation</td>
                                            <td style="font-weight: bolder;">{{ meta.next_credits }} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="margin: 5% auto auto auto;" layout="column" flex="40">
                            <md-button
                                    ng-click="exitCancellation(lesson, account, nb_persons)"
                                    class="md-primary md-raised cy-button">
                                Retour
                            </md-button>
                            <md-button
                                    ng-click="processCancellation()"
                                    class="md-primary md-raised cy-button">
                                Annuler
                            </md-button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>