      <div class="modal-header">
        <h3 class="modal-title">Détail de l'évènement</h3>
      </div>
      <div class="modal-body">

        <p>
        <pre>Cours : {{ vm.lesson.short }}</pre>
        <pre>Animateur : {{ vm.lesson.animator }}</pre>
        <pre>Jour : {{ vm.lesson.jour }}</pre>
        <pre>Commence à : {{ vm.lesson.hour }}</pre>
        <pre>Durée : {{ vm.lesson.duration }} minutes</pre>
        <pre>Nombres de places restantes : {{ vm.lesson.nb_places }}</pre>
        </p>

        <div ng-show="vm.account == null">
              <p>Vous n'etes pas encore connecté</p>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
        </div>
        <div ng-show="vm.account != null">
            <p>Bonjour {{  vm.account.first_name }} {{  vm.account.last_name }}</p>
            <button class="btn btn-primary" ng-click="vm.createReservation(vm.lesson)">Réserver !</button>
        </div>

<!--
        {% if vm.account != None %}
          <p ng-show="{{vm.account === undefined}}">Bonjour, {{  vm.account.first_name }} {{  vm.account.last_name }}, vous pouvez réserver ce cours</p>
          <li><a href="/reserve">Réserver</a></li>
        {% else %}
          <p>Vous n'etes pas encore connecté</p>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
        -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
      </div>