<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <section ng-if="!reservationSuccessful" class="text-container">
                    <h2 style="text-align: center;">Bonjour {{  account.first_name }} {{  account.last_name }}</h2><br>
                    <h4 class="text-centered" style="color:red; margin-bottom:2%;">Attention : Ne tardez pas trop à finaliser votre réservation !
                        Ces places vous sont réservées pendant {{meta.remaining_time}} minutes,
                        mais passé ce délai, nous ne garantissons plus leur disponibilité.</h4>

                    <div layout="row" layout-md="column" layout-sm="column"  style="margin-top:5%;">
                        <div layout="column" flex-gt-md="45" flex-md="80" flex-xs="100">
                            <h2 style="text-align: center;">Votre cours :</h2>
                            <div class="pending-reservation-lesson" >
                                <h2 class="pending-reservation-lesson-detail text-centered" style="font-weight: 900;">{{ lesson.type }} {{ lesson.intensity }} </h2>
                                <h3 class="pending-reservation-lesson-detail text-centered" > Animé par : {{ lesson.animator.prenom }} {{ lesson.animator.nom }}</h3>
                                <h3 class="pending-reservation-lesson-detail text-centered" >{{ meta.day}} à {{meta.start}}</h3>
                                <h3 class="pending-reservation-lesson-detail text-centered" >Durée : {{meta.duration}} minutes</h3>
                                <h3 class="pending-reservation-lesson-detail text-centered" >Places restantes : {{ lesson.nb_places }}</h3>
                            </div>
                        </div>

                        <div hide-gt-md layout style="height : 50px;"/>
                        <div layout="column" flex-offset-gt-md="10" flex-gt-md="45" flex-md="80" flex-xs="100">
                            <h2 style="text-align: center;">Votre réservation :</h2>
                            <div style="height:100%;"  class="pending-reservation-lesson">
                                <table style="min-width: 100%; height:100%; margin:auto;">
                                    <td style="font-weight: bolder;">Solde actuel : </td>
                                    <td style="font-weight: bolder;">{{ account.credits }} </td>
                                    <tr>
                                        <td>Nombre de places réservées : </td>
                                        <td>{{ nb_persons }} </td>
                                    </tr>
                                    <tr>
                                        <td>Prix/personne : </td>
                                        <td>{{ lesson.price }} </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bolder;">Prix total : </td>
                                        <td style="font-weight: bolder;">{{ meta.total_price }} </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bolder;">Solde après réservation : </td>
                                        <td style="font-weight: bolder;">{{ meta.next_credits }} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 5% auto auto auto;" layout="column" flex="40">
                        <md-button
                                ng-click="exitReservation(lesson, account, nb_persons)"
                                class="md-primary md-raised cy-button">
                            Retour
                        </md-button>
                        <md-button
                                ng-click="processReservation(lesson, account, nb_persons)"
                                class="md-primary md-raised cy-button">
                            Réserver
                        </md-button>
                    </div>
                </section>
                <section ng-if="reservationSuccessful" class="text-centered first-section">
                    <h2>Nous vous remercions pour votre réservation !</h2>
                    <h4>Vous êtes maintenant inscrit(e) au cours suivant :</h4>
                    <h4>{{ lesson.type }} {{ lesson.intensity }}</h4>
                    <h4>Animé par : {{ lesson.animator.prenom }} {{ lesson.animator.nom }}</h4>
                    <h4>{{ meta.day}} à {{meta.start}} (durée : {{meta.duration}} minutes)</h4>
                    <h4 ng-if="nb_persons > 1">Inscription pour {{ nb_persons }} personnes</h4>
                    <h4 ng-if="nb_persons==1">Inscription pour {{ nb_persons }} personne</h4>
                    <div style="margin: 5% auto auto auto;" layout="column" flex="60">
                        <md-button
                                style="max-width: 30%; margin:auto auto 5% auto;"
                                ng-click="exitReservation(lesson, account, nb_persons)"
                                class="md-primary md-raised cy-button">
                            Retour
                        </md-button>
                        <md-button
                                style="min-width: 60%; margin:auto;"
                                ng-click="cancelReservation(lesson, account)"
                                class="md-primary md-raised cy-button long-button">
                            Annuler la réservation
                        </md-button>
                    </div>
                </section>
            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>