<div class="perm-icons-row" layout="row" layout-align="end center" ng-controller="BannerController as vm">
    <a class="perm-icons-link login_icon" ng-click="login()"
       href="/monespace">
        <md-icon class="perm-icons" md-font-icon="material-icons"
                 ng-click="login()">account_circle
        </md-icon>
    </a>
    <a ng-if="!(account|isEmpty)"
       class="perm-icons-link"
       ng-click="logout()"
       href="#">
        <md-icon class="perm-icons" md-font-icon="material-icons"
                 ng-click="logout()">power_settings_new
        </md-icon>
    </a>
    <a class="perm-icons-link" ng-click="goto_chart(true)"
       href="#">
        <md-icon class="perm-icons" md-font-icon="material-icons"
                 ng-click="goto_chart()">shopping_cart
        </md-icon>
    </a>
</div>


<div style="margin:45px auto; max-width:50%;" class="central-logo" layout="row" layout-align="center center">
    <a href="/"><img src="/static/img/logos/banner.png" style="max-width:100%;"/></a>

</div>

<div style="margin:60px auto 90px auto;width:70%;" class="navbar-row" layout="row" layout-align="space-around center">
    <a class="navbar-item" href="/">Accueil</a>

    <div class="navbar-dropdown">
        <a class="navbar-item navbar-dropbtn" href="/eshop">Eshop</a>
        <div class="navbar-dropdown-content text-centered">
            <a class="navbar-item navbar-dropbtn" href="/eshop">Femmes</a>
            <a class="navbar-item navbar-dropbtn" href="/eshop">Enfants</a>
        </div>
    </div>
    <a class="navbar-item" href="/presentation">A propos</a>
    <a class="navbar-item" href="/contact">Contact</a>
</div>

<!--
<div class="banner" layout layout-align="space-between center" ng-controller="BannerController as vm">


    <a href="/"><img src="/static/img/logos/logo.png" style="max-width:100%;"/></a>

    <div layout>
        <a class="navbar-item" href="#">Accueil</a>

        <div class="navbar-dropdown">
            <a class="navbar-item navbar-dropbtn" href="/eshop">Eshop</a>
            <div class="navbar-dropdown-content text-centered">
                <a href="/eshop/femmes">Femmes</a>
                <a href="/eshop/enfants">Enfants</a>
            </div>
        </div>
        <a class="navbar-item" href="#">La marque</a>
        <a class="navbar-item" href="#">Contact</a>
        <a class="navbar-item" href="#">Blog</a>
    </div>


    <div class="perm-icons-row" layout="row" layout-align="end center" ng-controller="BannerController as vm">
        <a class="perm-icons-link login_icon" ng-click="login()"
           href="/monespace">
            <md-icon class="perm-icons" md-font-icon="material-icons"
                     ng-click="login()">account_circle
            </md-icon>
        </a>
        <a ng-if="!(account|isEmpty)"
           class="perm-icons-link"
           ng-click="logout()"
           href="#">
            <md-icon class="perm-icons" md-font-icon="material-icons"
                     ng-click="logout()">power_settings_new
            </md-icon>
        </a>
        <a class="perm-icons-link" ng-click="goto_chart(true)"
           href="#">
            <md-icon class="perm-icons" md-font-icon="material-icons"
                     ng-click="goto_chart()">shopping_cart
            </md-icon>
        </a>
    </div>

</div>-->