<div class="" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-container" style="text-align:justify;width:50%;margin: auto;">
        <h1 class="text-centered">Conditions Générales des Ventes</h1><br><br>
        <p style="font-size:110%;">
            www.organicazuki.com (le « Site ») est édité par la Société Organic Azuki, société par actions simplifiée
            au capital de 1600 €, dont le siège social est sis 107 Rue Fondaudège – 33000 BORDEAUX, immatriculée au
            Registre du Commerce et des Sociétés de Bordeaux sous le numéro 839 805 207, dont le numéro de TVA
            intra-communautaire FR04839805207 (ci-après « l’Editeur »).<br><br>
        </p>

        <h3> I. APPLICATIONS DES CONDITIONS GENERALES DE VENTE</h3><br>

        <p style="font-size:110%;">
            Les conditions générales de vente (les "CGV") détaillées ci-dessous s'appliquent à toutes les commandes de
            produits et services passées via le Site (les "Produits") auprès de l’Editeur par toute personne (le "Client").<br><br>

            Le Client doit prendre connaissance des CGV préalablement à toute commande (la "Commande"),
            les CGV étant disponibles sur le Site.<br>

            L’Editeur se réserve le droit d’adapter ou de modifier à tout moment les présentes CGV. La version des
            CGV applicable à toute vente étant celle figurant en ligne sur le site www.organicazuki.com au moment
            de la Commande. En conséquence, le fait de passer une Commande requiert l'entière l'adhésion préalable et,
            sans réserve, aux CGV par le Client en cliquant sur le bouton "J'ai lu et j'accepte les conditions
            générales de vente".<br><br>
        </p>

        <h3> II. INFORMATIONS SUR LE SITE ET ACCESSIBILITE DU SITE</h3><br>

        <p style="font-size:110%;">
            www.organicazuki.com est un site de commerce électronique qui appartient et est géré par l’Editeur.<br><br>

            Le Site est accessible à tous les utilisateurs du réseau internet par principe 24/24h, 7/7j,
            sauf interruption, programmée ou non, par l’Editeur ou ses prestataires, pour les besoins de sa
            maintenance et/ou de sécurité ou cas de force majeure (tel que défini ci-après). L’Editeur ne
            saurait être tenue responsable de tout dommage, quelle qu'en soit la nature, résultant d'une
            indisponibilité du Site.<br><br>

            L’Editeur ne garantit pas que le Site sera exempt d’anomalies, erreurs ou bugs, ni que le Site
            fonctionnera sans panne ni interruption. Il peut à cet égard déterminer librement et à son entière
            discrétion toute période d’indisponibilité du Site ou de son contenu. Organic Azuki ne peut non plus
            être tenue responsable de problèmes de transmission de données, de connexion ou d’indisponibilité du réseau.<br><br>

            L’Editeur se réserve le droit de faire évoluer le Site, pour des raisons techniques ou commerciales.
            Lorsque ces modifications n’altèrent pas les conditions de la fourniture des services, de manière
            substantielle et négative, le Client peut être informé des modifications intervenues, mais son acceptation
            n’est pas sollicitée.<br><br>
        </p>
        <h3> III. INSCRIPTION SUR LE SITE</h3><br>
        <p style="font-size:110%;">
            Pour pouvoir passer une Commande, le Client doit préalablement s’inscrire sur le Site en créant un
            compte regroupant les informations du Client (le « Compte »).<br><br>

            L’inscription du Client sur le Site est validée par l’Editeur après vérification du formulaire standard
            rempli par le Client. Le Client reçoit un e-mail de confirmation d’inscription.<br><br>

            Lors de la création de son Compte, le Client doit s’assurer de l’exactitude et de l’exhaustivité des
            données qu’il fournit. Le Client est tenu de toujours mettre à jour ses informations personnelles.
            En cas d’erreur dans le libellé des coordonnées du destinataire, l’Editeur ne saurait être tenu
            responsable de l’impossibilité de livrer des Produits.<br><br>

            En s’inscrivant sur le Site, le Client déclare et garantit à l’Editeur qu’il est majeur et a
            la capacité juridique pour contracter.<br><br>

            L’Editeur peut supprimer le Compte du Client à tout moment, pour toute raison, à sa seule discrétion.<br><br>
        </p>

        <h3> IV. PRODUITS</h3><br>
        <p style="font-size:110%;">
            Les Produits proposés à la vente sont ceux décrits sur le Site au jour de la consultation du Site par le
            Client, dans la limite des stocks disponibles. Ces indications sont mises à jour automatiquement
            en temps réel. Toutefois, une erreur dans la mise à jour, quelle qu'en soit l'origine, n'engage pas la
            responsabilité de l’Editeur. A ce titre, l’Editeur ne saurait être tenue responsable de l’annulation
            d’une Commande d’un Produit du fait de l’épuisement des stocks.<br><br>

            L’Editeur apporte le plus grand soin dans la présentation et la description de ses Produits pour
            satisfaire au mieux l’information du Client. Il est toutefois possible que des erreurs puissent
            figurer sur le Site, ce que le Client reconnaît et accepte.<br><br>

            L’Editeur ne garantit ni la précision ni la sécurité des informations transmises ou obtenues au
            moyen du Site.<br><br>

            Il est possible que le Client reçoive à la suite d'une Commande une pièce précédemment retournée par
            une autre personne. Il est précisé que l’Editeur n'accepte que le retour de Produits intacts et non
            portés, ces deux conditions étant contrôlées avant la remise en stock des Produits retournés.<br><br>
        </p>

        <h3>V. COMMANDES</h3>
        <p style="font-size:110%;">
            La prise de Commande sur le Site est soumise au respect de la procédure mise en place par l’Editeur sur
            le Site comprenant des étapes successives aboutissant à la validation de la Commande.<br><br>

            Le Client peut sélectionner autant de Produits qu'il le souhaite qui s'ajouteront au panier (le "Panier").
            Le Panier récapitule les Produits choisis par le Client ainsi que les prix et les frais y afférents.
            Le Client pourra librement modifier le Panier avant validation de sa Commande. La validation de la
            Commande vaut confirmation de l'acceptation par le Client des CGV, des Produits achetés, de leur prix
            ainsi que des frais associés.<br><br>

            Un email de confirmation récapitulant la Commande (Produit(s), prix, disponibilité du(es) Produit(s),
            quantité…) sera adressé au Client par l’Editeur. A cet effet, le Client accepte formellement l’usage du
            courrier électronique pour la confirmation par l’Editeur du contenu de sa Commande. Les factures sont
            disponibles dans la rubrique "mon compte" du Site.<br><br>
        </p>

        <h3>VI. REFUS DE TRAITER UNE COMMANDE</h3>
        <p style="font-size:110%;">
            L’Editeur se réserve le droit de retirer à tout moment tout Produit affiché sur le Site et de remplacer ou
            modifier tout contenu ou information figurant sur ce dernier. Malgré les meilleurs efforts de l’Editeur
            pour satisfaire les attentes de ses clients, il se peut que cette dernière soit amenée à refuser de
            traiter une Commande après avoir adressé au Client l’e-mail de confirmation récapitulant la Commande.<br><br>

            L’Editeur ne saurait être tenue responsable envers le Client ou un tiers des conséquences dommageables du
            retrait d’un Produit du Site, ou du remplacement ou de la modification de tout contenu ou information
            figurant sur ce Site, ou encore du refus de traiter une Commande après l’envoi de l’e-mail de confirmation
            récapitulant la Commande.<br><br>

            L’Editeur se réserve également le droit de refuser ou d’annuler une Commande provenant d’un client avec
            lequel elle a un litige sur le paiement d’une précédente commande.<br><br>
        </p>

        <h3>VII. PRIX ET MODALITÉS DE PAIEMENT</h3>
        <p style="font-size:110%;">
            Les prix des produits sont indiqués sur le Site en euros pour l'Europe, en livres sterling pour la
            Grande-Bretagne et en dollars américains pour les Etats-Unis, TVA comprises, mais <b>hors frais de douanes
            et autres taxes. Les frais de douane et autres taxes doivent être acquitté par le Client directement
            auprès du transporteur.</b><br><br>

            Tous les prix affichés sont calculés et incluent la taxe sur la valeur ajoutée (TVA) applicable en France
            ou celle applicable dans le pays de livraison situé en Union Européenne.<br><br>

            L’Editeur se réserve le droit de modifier ses prix à tout moment mais les Produits seront facturés sur la
            base des tarifs en vigueur au moment de l’enregistrement et du paiement de la Commande, sous réserve
            de disponibilité.<br><br>

            Les Produits sont payables comptant lors de la Commande effective.<br><br>

            Le règlement des achats s’effectue soit via Paypal, soit via la plateforme sécurisée de notre prestataire
            de payement ADYEN.<br><br>

            Paypal (Europe) S.à.r.l. et Cie, est une société en commandite par actions luxembourgeoise, immatriculée
            au R.C.S de Luxembourg sous le numéro B118349, dont le siège social est sis 22-24, Boulevard Royal – L-2449
            Luxembourg. Pour toute information, le Client peut consulter le site internet
            suivant : <a href="https://www.paypal.com">https://www.paypal.com</a>.<br><br>

            Adyen B.V. est une société immatriculée à Amsterdam (Pays-Bas) sous le numéro 34259528, dont le siège
            social est situé Simon Carmiggeltstraat 6-50, 1011 DJ à Amsterdam, Pays-Bas. Pour toute information,
            le Client peut consulter le site internet suivant : <a href="https://www.adyen.com">https://www.adyen.com</a><br><br>

            Le Client reconnaît expressément que la communication de son numéro de carte bancaire à l’Editeur vaut
            autorisation de débit de son Compte à concurrence du prix des Produits commandés. Le cas échéant, une
            notification d’annulation de Commande pour défaut de paiement est envoyée au Client par l’Editeur sur
            l’adresse e-mail communiquée par le Client lors de son inscription sur le Site.<br><br>

            Les données enregistrées et conservées par l’Editeur constituent la preuve de la Commande et de l’ensemble
            des ventes passées. Les données enregistrées par Paypal ou ADYEN constituent la preuve de toute transaction
            financière intervenue entre le Client et l’Editeur.<br><br>
        </p>

        <h3>VIII. LIVRAISON</h3>
        <p style="font-size:110%;">
            Les livraisons sont assurées par les services de Chronopost, de DPD, d'UPS ou de DHL, du lundi au samedi,
            en fonction de l’option choisie par le Client lors de validation de sa Commande.<br><br>

            La livraison s’entend du transfert au Client de la possession physique des Produits (la « Livraison »).<br><br>

            Les frais de Livraison applicables à la Commande sont ceux mentionnés sur le Site au moment de la
            Commande dans la rubrique « Livraison et retours ».<br><br>

            Lorsque l’Editeur se charge de l’acheminement du Produit, le risque de perte ou de détérioration du
            Produit est transféré au Client au moment de la Livraison.<br><br>

            Par exception, le risque est transféré au Client lors de la remise du Produit au transporteur lorsque
            celui-ci est chargé du transport par le Client et non par l’Editeur.<br><br>

            La Livraison est effectuée à l’adresse de livraison indiquée par le Client, étant précisé que celle-ci
            doit être l’adresse de résidence du Client, d'une personne physique de son choix ou d'une personne
            morale (livraison à son entreprise). La Livraison ne peut être effectuée ni dans des hôtels,
            ni à des boîtes postales.<br><br>

            En cas d'impossibilité d’effectuer la Livraison, due à une adresse de livraison erronée ou à l'absence
            de retrait par le Client de sa Commande auprès du point de retrait sélectionné ou de Chronopost,
            aucune réexpédition ne pourra être réalisée et le Client sera remboursé dans un délai de cinq (5)
            jours à compter de la réception de la Commande par l’Editeur.<br><br>

            L’Editeur livre les Commandes dans un délai maximum de principe de douze (12) jours ouvrés pour une
            Livraison en France Métropolitaine et de vingt (20) jours ouvrés pour une Livraison internationale,
            ce délai étant décompté à compter du premier jour ouvré après la validation de la Commande (à noter
            que l’Editeur ne livre pas les Produits dans les pays suivants : Maroc, Brésil, Taiwan, Corée du Sud,
            Emirats Arabes Unis). Au lendemain de la mise en ligne d'une collection et du 23 novembre au 31 décembre,
            le délai de Livraison peut être augmenté de dix (10) jours, étant donné le volume important et
            exceptionnel des Commandes.<br><br>

            Afin que ces délais puissent être respectés, le Client doit s’assurer d’avoir communiqué des informations
            exactes et complètes concernant l’adresse de Livraison (tels que, notamment : n° de rue, de bâtiment,
            d’escalier, codes d’accès, noms et/ou numéros d’interphone, etc.).<br><br>

            L’Editeur ne pourra être tenue responsable du retard d’acheminement n’étant pas de son fait ou justifié
            par un cas de force majeure (tel que défini ci-après).<br><br>

            En cas de dépassement du délai de Livraison, le Client pourra demander l'annulation de la vente et obtenir
            dans un délai maximum de quatorze (14) jours de sa demande en ce sens le remboursement des sommes versées
            à l'occasion de la Commande. Nonobstant ce qui précède, l’Editeur ne pourra être tenue responsable des
            conséquences dommageables consécutives à un retard d’acheminement, seul le remboursement du Produit par
            l’Editeur étant possible à l’exclusion de toute autre forme de dédommagement.<br><br>

            Les Livraisons peuvent également être réalisées en Point Relais par le prestataire Chrono Relais,
            sous réserve de l’acceptation du colis par le Point Relais sélectionné.<br><br>
        </p>

        <h3>IX. DROIT DE RETRACTATION - REMBOURSEMENTS ET RETOURS</h3><br>
        <h4>9.1. Délai et modalités d’exercice du droit de rétractation </h4><br>
        <p style="font-size:110%;">
            Conformément à l’article L.221-18 du Code de la Consommation, le Client non-professionnel dispose d'un
            délai de quatorze (14) jours à compter de la réception de la Commande pour exercer son droit de rétractation
            auprès de Organic Azuki, sans avoir à motiver sa décision.<br><br>

            L’exercice du droit de rétractation peut s’effectuer soit en se connectant sur son compte client dans
            la section « commande », soit en utilisant et envoyant le modèle de formulaire de rétractation figurant
            en annexe des Conditions Générales de Vente, par courrier, à l’adresse suivante : Organic Azuki – Service
            retours – 107 Rue Fondaudège – 33000 Bordeaux, France, ou par e-mail à contact@organicazuki.com.<br><br>
        </p>

        <h4>9.2. Modalités de retour de la Commande dans le cadre du droit de rétractation</h4><br>
        <p style="font-size:110%;">
            Le droit de rétractation s’exerce sans pénalité.<br><br>

            Le Client renvoie la Commande avec le bon de retour prépayé fourni par l’Editeur, sans retard excessif et,
            au plus tard, dans les quatorze (14) jours suivant la communication de sa décision de se rétracter
            conformément à l'article L. 221-21 du Code de la Consommation.<br><br>

            Au-delà de ce délai de quatorze (14) jours, la vente est ferme et définitive. Le Produit doit être retourné
            dans son emballage d’origine, dans son état d’origine, neuf, non porté, non lavé. Pour effectuer un retour,
            le Client doit suivre la procédure indiquée sur le bon de retour reçu avec sa Commande. Le retour des
            Produits est pris en charge par l’Editeur si le lieu de Livraison s’effectue dans un des pays suivants :
            France, Royaume-Uni, Belgique, Etats-Unis d’Amérique, Allemagne et Espagne.<br><br>

            Le retour des Produits est à la charge du Client et se fait à ses risques si le lieu de Livraison
            n’est pas dans les pays précités.<br><br>
        </p>

        <h4>9.3. Remboursement des Produits retournés dans le cadre du droit de rétractation</h4><br>
        <p style="font-size:110%;">
            Le remboursement de la Commande par l’Editeur s’effectue au plus tard dans les quatorze (14) jours à
            compter de la date à laquelle elle est informée de la décision du Client de se rétracter.<br><br>

            Cependant, le remboursement intervient sous réserve que l’Editeur ait pu récupérer les Produits
            objet du retour et de la demande de remboursement.<br><br>

            L’Editeur effectue le remboursement en utilisant le même moyen de paiement que celui qui aura été utilisé
            pour le paiement de la Commande, sauf accord exprès du Client pour qu’elle utilise un autre moyen de
            paiement et dans la mesure où le remboursement n’occasionne pas de frais pour le consommateur.<br><br>

            <b>Le remboursement d'une commande réglée avec une ecarte cadeau, une carte cadeau ou un avoir,
                sera remboursée automatiquement en avoir.</b><br><br>

            A défaut de respect par le Client des présentes CGV, l’Editeur ne pourra procéder au remboursement des
            Produits concernés. Dans tous les cas, les frais de retour sont à la charge de l’Editeur si le Produit
            livré au Client est différent du Produit commandé ou s’il est livré endommagé.<br><br>
        </p>

        <h3>X. GARANTIES - LIMITATION DE RESPONSABILITE</h3>
        <p style="font-size:110%;">
            La responsabilité de l’Editeur à l'égard de tout Produit acheté sur le Site est strictement limitée au
            prix d'achat de ce dernier. L’Editeur ne sera en aucun cas responsable des pertes suivantes,
            indépendamment de leur origine :<br><br>

            -       perte de revenus ou de ventes<br>
            ​-       perte d'exploitation<br>
            ​-       perte de profits ou de contrats<br>
            ​-       perte d'économies prévues<br>
            ​-       perte de données<br>
            ​-       perte de temps de travail ou de gestion<br>
            ​-       préjudice d’image<br>
            ​-       perte de chance, et notamment de commander un Produit,<br>
            ​-       préjudice moral.<br>
            Les documents, descriptions et informations relatifs aux Produits figurant sur le Site ne sont couverts
            par aucune garantie, explicite ou implicite, à l'exception des garanties prévues par la loi.<br><br>
            L’Editeur ne fournit aucune garantie concernant tout préjudice qui pourrait être causé par la transmission
            d’un virus informatique, d’un ver, d’une bombe temporelle, d’un cheval de Troie, d’un cancelbot,
            d’une bombe logique ou de toute autre forme de routine de programmation conçue pour endommager, détruire
            ou détériorer de toute autre manière une fonctionnalité d’un ordinateur ou d’entraver le bon fonctionnement
            de celui-ci, en ce compris toute transmission découlant d’un téléchargement de tout contenu effectué
            par le Client, des logiciels utilisés par celui-ci pour télécharger le contenu, du Site ou du serveur
            qui permet d’y accéder. A cet égard, le Client reconnaît qu’il est de sa responsabilité d’installer des
            anti-virus et des logiciels de sécurité appropriés sur son matériel informatique et tout autre dispositif
            afin de les protéger contre tout bogue, virus ou autre routine de programmation de cet ordre s’avérant
            nuisible.<br><br>

            Le Client reconnaît assumer l’ensemble des risques liés à tout contenu téléchargé ou obtenu de toute autre
            manière par le biais de l’utilisation du Site et convient qu’il est seul responsable de tout dommage causé
            à son système informatique ou de toute perte de données résultant du téléchargement de ce contenu.<br><br>

            L’Editeur est uniquement tenue de livrer des Produits conformes aux dispositions contractuelles.
            Les Produits sont considérés comme étant conformes aux dispositions contractuelles si les conditions
            suivantes sont réunies : (i) ils doivent être conformes à la description et posséder les caractéristiques
            exposées sur le Site ; (ii) ils doivent être adaptés aux fins pour lesquelles des produits de ce genre
            sont généralement conçus ; (iii) ils doivent répondre aux critères de qualité et de résistance qui sont
            généralement admis pour des produits du même genre et auxquels on peut raisonnablement s'attendre.<br><br>

            En outre, l’Editeur garantit les consommateurs des défauts de conformité et des vices cachés pour les
            Produits en vente sur le Site dans les conditions suivantes :<br><br>

            Vice apparent - Garantie - Légale de conformité – Vices cachés<br><br>

            La présence d’un vice apparent sur un Produit doit donner lieu à réclamation par courrier électronique
            (contact@organic-azuki.fr)<br><br>

            Le Client devra se conformer à la procédure relative au droit de rétractation en informant au préalable
            par tous moyens l’Editeur de l’existence de ce vice apparent, afin que le retour puisse être accepté.<br><br>

            Sous réserve de la validation d’une non-conformité ou d’un vice-caché par l’Editeur ou le fabricant
            selon le cas, le Client bénéficie des garanties suivantes :<br><br>
            Organic Azuki dont le siège social est sis 107 Rue Fondaudège - 33000 Bordeaux, France, agit en tant
            que garant au sens des dispositions des articles L 217-5 et suivants du Code de la Consommation et
            1641 et suivants du Code Civil.<br><br>

            Ainsi le Client :<br>
            ​-       bénéficie d’un délai de deux (2) ans à compter de la délivrance du Produit pour agir en défaut
            de conformité du Produit,<br>
            ​-       est dispensé de rapporter la preuve de l’existence du défaut de conformité du bien durant les six
            (6) mois suivant la délivrance du Produit,<br>
            ​-       peut choisir entre la réparation ou le remplacement du Produit, sous réserve des conditions de coût
            prévues par l’article L217-9 du code de la consommation ;<br><br>

            La garantie légale de conformité s’applique indépendamment de la garantie commerciale décrite ci-après.<br><br>

            En outre, le Client peut également mettre en œuvre la garantie légale au titre des vices cachés de la
            chose vendue, au sens des articles 1641 et suivants du Code Civil. La garantie légale des vices cachés
            permet au Client dans un délai de deux ans à compter de la découverte du vice, le remboursement d’un
            Produit qui s’est révélé impropre à son usage.<br><br>

            La garantie des vices cachés permet au Client d'être protégé contre les défauts cachés du Produit acheté
            et qui en empêchent l'usage ou l'affectent à un point tel que le Client ne l’aurait pas acheté.<br><br>

            Le Client a alors le choix entre deux options : garder le Produit et demander une réduction du prix,
            ou rendre le Produit et demander le remboursement du prix payé, conformément à l’article
            1644 du Code Civil. <br><br>

            Afin de mettre en œuvre ces garanties, le Produit doit être retourné, dans son emballage d’origine, dans
            son état d’origine, neuf, non porté, non lavé, avec les références de la Commande initiale et copie de
            la réclamation au siège social de l’Editeur, après l’envoi d’un courrier électronique signalant le
            motif du retour du Produit.<br><br>

            A toutes fins utiles, il est rappelé les dispositions légales suivantes :<br>
            Art. L217-4 du Code de la Consommation : « <b>Le vendeur livre un bien conforme au contrat et répond des
            défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité
            résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à
            sa charge par le contrat ou a été réalisée sous sa responsabilité.</b> »

            Art. L217-5 du Code de la Consommation : « <b>Le bien est conforme au contrat : 1° S'il est propre à l'usage
            habituellement attendu d'un bien semblable et, le cas échéant (a) s'il correspond à la description donnée
            par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou
            de modèle ;(b) s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux
            déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans
            la publicité ou l'étiquetage ; 2° Ou s'il présente les caractéristiques définies d'un commun accord par
            les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur
            et que ce dernier a accepté.</b> »<br><br>

            Art. L217-7 du Code de la Consommation : « <b>Les défauts de conformité qui apparaissent dans un délai de
            vingt-quatre mois à partir de la délivrance du bien sont présumés exister au moment de la délivrance,
            sauf preuve contraire. Pour les biens vendus d'occasion, ce délai est fixé à six mois. Le vendeur peut
            combattre cette présomption si celle-ci n'est pas compatible avec la nature du bien ou le défaut de
            conformité invoqué.</b> »<br><br>

            Art. L217-8 du Code de la Consommation : « <b>L'acheteur est en droit d'exiger la conformité du bien au
            contrat. Il ne peut cependant contester la conformité en invoquant un défaut qu'il connaissait ou ne
            pouvait ignorer lorsqu'il a contracté. Il en va de même lorsque le défaut a son origine dans les matériaux
            qu'il a lui-même fournis.</b> »<br><br>

            Art. L217-9 du Code de la Consommation : « <b>En cas de défaut de conformité, l'acheteur choisit entre la
            réparation et le remplacement du bien. Toutefois, le vendeur peut ne pas procéder selon le choix de
            l'acheteur si ce choix entraîne un coût manifestement disproportionné au regard de l'autre modalité,
            compte tenu de la valeur du bien ou de l'importance du défaut. Il est alors tenu de procéder, sauf
            impossibilité, selon la modalité non choisie par l'acheteur.</b> »<br><br>

            Art. L217-10 du Code de la Consommation : «<b>Si la réparation et le remplacement du bien sont impossibles,
            l'acheteur peut rendre le bien et se faire restituer le prix ou garder le bien et se faire rendre une
            partie du prix. La même faculté lui est ouverte : 1° Si la solution demandée, proposée ou convenue en
            application de l'article L. 217-9 ne peut être mise en œuvre dans le délai d'un mois suivant la réclamation
            de l'acheteur ; 2° Ou si cette solution ne peut l'être sans inconvénient majeur pour celui-ci compte tenu
            de la nature du bien et de l'usage qu'il recherche. La résolution de la vente ne peut toutefois être
            prononcée si le défaut de conformité est mineur.</b> »<br><br>

            Art. L217-11 du Code de la Consommation : «<b>L'application des dispositions des articles L. 217-9 et
            L. 217-10 a lieu sans aucun frais pour l'acheteur. Ces mêmes dispositions ne font pas obstacle à
            l'allocation de dommages et intérêts.</b> »<br><br>

            Art. L217-12 du Code de la Consommation : « <b>L'action résultant du défaut de conformité se prescrit par
            deux ans à compter de la délivrance du bien. </b>»<br><br>

            Art. L217-13 du Code de la Consommation : «<b> Les dispositions de la présente section ne privent pas
            l'acheteur du droit d'exercer l'action résultant des vices rédhibitoires telle qu'elle résulte des articles
            1641 à 1649 du code civil ou toute autre action de nature contractuelle ou extracontractuelle qui lui est
            reconnue par la loi. </b>»<br><br>

            Art. 1641 du Code Civil : « <b>Le vendeur est tenu de la garantie à raison des défauts cachés de la chose
            vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que
            l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.</b> »<br><br>

            Art.1642 du Code Civil : «<b> Le vendeur n'est pas tenu des vices apparents et dont l'acheteur a pu se
            convaincre lui-même. </b>»<br><br>

            Art. 1643 du Code Civil : «<b> Il est tenu des vices cachés, quand même il ne les aurait pas connus, à
            moins que, dans ce cas, il n'ait stipulé qu'il ne sera obligé à aucune garantie.</b> »<br><br>

            Art. 1644 du Code Civil : «<b> Dans le cas des articles 1641 et 1643, l'acheteur a le choix de rendre la
            chose et de se faire restituer le prix, ou de garder la chose et de se faire rendre une partie du prix.</b> »<br><br>

            Art. 1646 du Code Civil : «<b> Si le vendeur ignorait les vices de la chose, il ne sera tenu qu'à la
            restitution du prix, et à rembourser à l'acquéreur les frais occasionnés par la vente.</b> »<br><br>

            Art. 1648 du Code Civil : «<b> L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur
            dans un délai de deux ans à compter de la découverte du vice. (…) </b>»<br><br>

            <b>Force Majeure </b><br><br>
            En cas de survenance d’un événement de force majeure empêchant l’exécution des présentes CGV, l’Editeur en
            informe le Client dans un délai de quinze (15) jours à compter de la survenance de cet événement, par mail
            ou par lettre recommandée avec accusé de réception. De façon expresse, sont considérés comme cas de force
            majeure ou cas fortuit, outre ceux habituellement retenus par la jurisprudence des cours et tribunaux
            français, les grèves totales ou partielles, lock-out, émeute, les boycottages ou autres actions à caractère
            industriel ou litiges commerciaux, trouble civil, insurrection, guerre, acte de terrorisme, intempérie,
            épidémie, blocage des moyens de transport ou d’approvisionnement pour quelque raison que ce soit,
            tremblement de terre, incendie, tempête, inondation, dégâts des eaux, restrictions gouvernementales ou
            légales, modifications légales ou réglementaires des formes de commercialisation, panne d’ordinateur,
            blocage des télécommunications, y compris des réseaux de télécommunications filaires ou hertziens,
            et tout autre cas indépendant de la volonté des parties empêchant l’exécution normale de la relation
            contractuelle. L’ensemble des obligations des parties sont suspendues pendant toute la durée de l’événement
            de force majeure, sans indemnité. Si l’événement de force majeure se prolonge pendant plus de trois (3)
            mois, la transaction concernée pourra être résiliée à la demande de l’Editeur ou du Client sans indemnité
            de part et d’autre. Le défaut de paiement par le Client ne peut être justifié par un cas de force majeure.<br><br>
        </p>

        <h3>XI. INVALIDITE PARTIELLE</h3>
        <p style="font-size:110%;">
            Si une ou plusieurs stipulations des présentes CGV sont tenues pour non valides ou déclarées comme telles
            en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction
            compétente, les autres stipulations garderont toute leur force et leur portée.<br><br>
        </p>

        <h3>XII. NON-RENONCIATION</h3>
        <p style="font-size:110%;">
            Aucune tolérance, inaction ou inertie de l’Editeur ne pourra être interprétée comme renonciation
            à ses droits aux termes des CGV.<br><br>
        </p>

        <h3>XIII. MEDIATION- LOI APPLICABLE – JURIDICTION COMPETENTE</h3>
        <p style="font-size:110%;">
            La vente des Produits est soumise à la loi française.<br>
            En cas de différend, le Client et l’Editeur peuvent recourir à une médiation conventionnelle.<br>
            L’Editeur informe à cet égard le Client de l’existence de modes alternatifs de règlement des
            litiges tels que notamment la médiation ou l’arbitrage.<br>
            Le Client peut entrer en contact avec la plateforme de résolution des litiges mise en ligne par la
            Commission Européenne à l'adresse suivante :<br>
            http://ec.europa.eu/consumers/odr/ .<br>
            Tout litige relatif à l'interprétation des CGV, à l'exécution ou à la rupture d’une vente, à
            l’interprétation, l’exécution ou la résiliation des présentes est soumis, à défaut d'accord amiable,
            aux tribunaux légalement compétents.<br>

        </p>

    </div>
    <div ng-include="'/static/templates/general/footer.html'"></div>
</div>
