
<div class="oa-container" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-content">
        <div layout="column"  flex="60" flex-offset="20" layout-align="space-between center" style="padding: 0 20px;">
            <h3 class="text-centered"style="margin-bottom:30px;">Contact</h3>
            <p style="margin-bottom:60px; font-size:110%;text-align: justify;">Vous avez une question sur une commande, une livraison,
                des informations produit ou vous souhaitez tout simplement nous contacter ?
                Veuillez remplir le formulaire ci-dessous et nous vous répondrons au plus vite !<br>
            </p>

            <div class="form-group" for="question" style="width : 100%; margin-bottom:15px;">
                <div class="alert alert-success" ng-show="success" ng-bind="success"></div>
                <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>
                <label class="quicksand-md" style="font-size:120%;">Votre demande concerne :</label>
                <md-input-container id="question" style="width:100%;">
                    <md-select class="form-control quicksand-lg"
                               validate-on="submit"
                               id="contact_select_question"
                               ng-required="1"
                               ng-model="selectedQuestion"
                               placeholder="Vous souhaitez ?"
                               ng-change="changeQuestion()"
                               style="background-color:#f8e4c8; border-radius: 0;">
                        <md-select-header>
                            <span class="quicksand-lg"> Vous souhaitez ? </span>
                        </md-select-header>
                        <md-option class="quicksand-md" ng-value="question" ng-repeat="question in questions">{{question}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <form layout flex layout-align="space-between start"
                  style="min-width:100%;"
                  role="form" name="form" novalidate class="update-account-form"
                  ng-submit="submitted = true;">
                <div layout="column" flex="40" layout-align="space-between start">
                    <div class="form-group"
                         ng-class="{'invalid-input' : submitted && form.prenom.$error.required}"
                         style="width : 100%; margin-bottom:15px;">
                        <label class="quicksand-md" for="contact_prenom">Prenom*</label>
                        <input style="font-size:20px;border-radius: 0; background-color:#f8e4c8;"
                               name="prenom"
                               type="text"
                               class="form-control"
                               id="contact_prenom"
                               ng-model="contact_prenom"
                               required/>
                        <span class="help-inline" ng-show="submitted && form.prenom.$invalid">Champ obligatoire</span>
                    </div>
                    <div class="form-group"
                         ng-class="{'invalid-input' : submitted && form.nom.$error.required}"
                         style="width : 100%; margin-bottom:15px;">
                        <label class="quicksand-md" for="contact_nom">Nom*</label>
                        <input style="font-size:20px;border-radius: 0; background-color:#f8e4c8;"
                               name="nom"
                               type="text"
                               class="form-control"
                               id="contact_nom"
                               ng-model="contact_nom"
                               required/>
                        <span class="help-inline" ng-show="submitted && form.nom.$invalid">Champ obligatoire</span>
                    </div>
                    <div class="form-group"
                         ng-class="{'invalid-input' : submitted && form.email.$error.required}"
                         style="width : 100%; margin-bottom:15px;">
                        <label class="quicksand-md" for="contact_email">Email*</label>
                        <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;"
                               name="email"
                               type="email"
                               class="form-control"
                               id="contact_email"
                               ng-model="contact_email"
                               required/>
                        <span class="help-inline" ng-show="submitted && form.email.$error.required">Champ obligatoire</span>
                        <span class="help-inline" ng-show="submitted && !form.email.$error.required && form.email.$invalid">Champ invalide</span>
                    </div>
                    <div class="form-group" style="border-radius: 0; margin-bottom:15px;">
                        <label class="quicksand-md" for="contact_tel">Téléphone (optionnel)</label>
                        <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;"
                               type="text"
                               class="form-control"
                               id="contact_tel"
                               ng-model="contact_tel"
                               ng-change="changeForm()"/>
                    </div>

                </div>
                <div layout="column" flex="5" layout-align="start end" style="min-width:5%;min-height:350px;border-right:solid 1px #3f3f3f;">

                </div>
                <div layout="column" flex="50" flex-offset="5" layout-align="start end">

                    <div class="form-group" style="border-radius: 0; margin-bottom:15px;min-width:100%;">
                        <label class="quicksand-md" for="contact_tel">Sujet (optionnel)</label>
                        <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;min-width:100%;"
                               type="text"
                               class="form-control"
                               id="contact_sujet"
                               ng-model="contact_sujet"
                               ng-change="changeForm()"/>
                    </div>
                    <div class="form-group" layout="column" flex layout-align="start start" style="width : 100%;borde: 1px solid black;"
                         ng-class="{'invalid-input' : submitted && form.email.$error.required}">
                        <label class="quicksand-md">Quel est votre message ?</label>
                        <textarea class="quicksand-md"
                                  name="message"
                                  style="background-color:#f8e4c8; min-height:150px; width : 100%;"
                                  ng-model="contact_comment"
                                  placeholder="Message*"
                                  ng-change="changeForm()"
                                  required/>
                        <span class="help-inline" ng-show="submitted && form.message.$invalid">Champ obligatoire</span>
                    </div>
                    <div class="form-group">
                        <md-button type="submit" ng-click="submitContactForm(form.$invalid)"
                                   class="md-primary md-raised cy-button"
                                   ng-disabled="sendingMessage">
                            {{submit_button}}
                        </md-button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div ng-include="'/static/templates/general/footer.html'"></div>
</div>




