<footer class="" layout layout-align="space-between center"
        style="" ng-controller="LandingPageController as vm">
    <div style="width:100%" layout layout-align="space-between center">
        <div layout="column" layout-align="space-between start" class="footer-links">
            <h2 class="footer-link-title">INFORMATIONS</h2>
            <a class="footer-link"  href="/cguv">Conditions générales</a>
            <a class="footer-link"  href="/mentions">Mentions légales</a>
        </div>
        <div layout="column" layout-align="space-between start" class="footer-links">
            <h2 class="footer-link-title">SERVICE CLIENT</h2>
            <a class="footer-link"  href="/livraisons">Livraison & retour</a>
            <a class="footer-link"  href="/contact">Contact</a>
        </div>
        <div layout="column" layout-align="space-between start" class="footer-links">
            <a class="footer-link"  href="/remerciements">Remerciements</a>
        </div>
    </div>
</footer>
