<div class="oa-container" layout="column" ng-controller="LandingPageController as vm">
    <div ng-include="'/static/templates/general/banner_large.html'"></div>
    <div class="main-content" layout="column" layout-align="space-between">
        <h2 class="instagram-title text-centered"> Suivez nous sur Instagram ! </h2>
        <div style="margin:auto;" layout layout-align="space-between center" ng-controller="InstagramController as vm" >

            <md-progress-circular
                    ng-if="state.instagram_loading"
                    md-mode="indeterminate"
                    style="position: absolute; z-index:2; margin:50%;">
            </md-progress-circular>

            <div ng-if="!state.instagram_loading" ng-repeat="recent in pictures" layout layout-align="space-between center">
                <div layout="column" layout-align="space-between center">
                    <a href="https://www.instagram.com/organicazuki/"  onclick="window.open(this.href); return false;">
                        <img ng-class="{'instagram-md': $mdMedia('md'), 'instagram-gt-md': $mdMedia('gt-md')}" src="{{recent.url}}"/>
                    </a>
                    <h4 style="margin:15px 0;" class="instagram-caption text-centered">{{recent.caption}} </h4>
                </div>

            </div>
        </div>
        <div style="margin:80px auto; max-width:70%;" class="" layout="row" layout-align="center center">
            <img src="/static/img/img/IMG_1200_cropped.jpg">
            </img>
        </div>
    </div>
    <div ng-include="'/static/templates/general/footer.html'"></div>
</div>




