<div class="" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-container" style="text-align:justify;width:50%;margin: auto;">
        <h1 class="text-centered">Livraison & Retours</h1><br><br>
        <h2>Livraison</h2><br>
        <p style="font-size:110%;">
            Les livraisons en France métropolitaine se font via La Poste (Lettre Suivie ou Colissimo).<br>
            Pour les livraisons hors France métropolitaine, merci de nous contacter par e-mail à contact@organic-
            azuki.fr pour connaître la tarification.<br><br>

            Les délais de livraison sont de 2 à 7 jours ouvrés.<br>
            Tout est mis en œuvre pour que la commande soit traitée et expédiée le plus rapidement possible toutefois
            ces délais sont donnés à titre indicatif.<br><br>
            Une fois le colis expédié, Organic Azuki se dégage de toute responsabilité et ne saurait être tenu
            responsable en cas de perte ou de vol. Les marchandises voyagent aux risques et périls du destinataire.<br><br>

            Les colis envoyés par Colissimo sont assurés à hauteur du tarif de l'assurance en vigueur auprès de la
            Poste soit 23€ d’indemnisation par kilo en cas de perte ou spoliation. Aucune réclamation autre que celle
            de ladite assurance ne pourra être prise en compte par OrganicAzuki en cas de non réception de colis.<br><br>

            Les livraisons sont faites à l’adresse indiquée sur le bon de commande, le client se doit de vérifier
            l’exactitude et la conformité des renseignements qu’il fournit.<br>
            Pour la France Métropolitaine, la frais de livraison commencent à 7€ et pourront augmenter selon le poids
            de la commande.<br>
            Le montant du coût de livraison comprend l’emballage, la manutention et les frais d’envoi postaux.<br><br>
        </p>

        <h2>Retours</h2><br>
        <p style="font-size:110%;">
            Vous disposez d’un délai de 14 jours après réception de votre commande pour retourner vos Produits
            contre remboursement ou avoir s’ils ne vous conviennent pas.<br><br>
            Notez que les Produits dont l’étiquette a été détachée ne pourront faire l’objet d’un retour.<br><br>
            Les Produits ne doivent pas avoir été portés et doivent être renvoyés dans leur état et emballage
            d’origine. Merci d'inclure dans le retour la facture ou le bon de livraison sinon, le retour ne pourra être
            traité.<br><br>
            Les frais ainsi que les risques de retour sont à la charge exclusive de l’Acheteur.<br><br>
            Les remboursements se font via le moyen de paiement utilisé lors de la commande et dans un délai de 7
            jours à compter de la réception du retour.<br><br>
            Veuillez adresser vos retours à l’adresse suivante :<br>
            ORGANIC AZUKI<br>
            107 Rue Fondaudège<br>
            33000 BORDEAUX, France<br><br>
        </p>

    </div>
    <div ng-include="'/static/templates/general/footer.html'"></div>
</div>
