<div class="" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-container" style="text-align:justify;width:50%;margin: auto;">
        <h1 class="text-centered">Mentions Légales</h1><br><br>
        <p style="font-size:110%;">
            www.organicazuki.com (le « Site ») est édité par la Société Organic Azuki, société par actions simplifiée
            au capital de 1600 €, dont le siège social est sis 107 Rue Fondaudège – 33000 BORDEAUX, immatriculée au
            Registre du Commerce et des Sociétés de Bordeaux sous le numéro 839 805 207, dont le numéro de TVA
            intra-communautaire FR04839805207 (ci-après « l’Editeur »).<br><br>
        </p>

        <h3> I. Hébergement et accès au Site</h3><br>

        <p style="font-size:110%;">
            Le propriétaire du Site est Organic Azuki, SAS au capital de 1600€, immatriculée au Registre du Commerce et
            des Sociétés de Bordeaux sous le numéro 839 805 207, dont le siège social est situé au 107 Rue
            Fondaudège 33000 BORDEAUX.<br>
            Adresse email : <a href="mailto:contact@organic-azuki.fr">contact@organic-azuki.fr</a>.<br>
            Numéro de TVA intracommunautaire : FR04839805207.<br>

            L’hébergeur du site est la société ALWAYSDATA, SARL au capital de 5.000 € immatriculée au RCS de Paris sous
            le numéro 492 893 490 dont le siège social se trouve 62 rue Tiquetonne – 75002 Paris.<br><br>

            Le contenu du présent Site est protégé par les lois françaises en vigueur sur la propriété intellectuelle
            ainsi que par les traités et accords internationaux comportant des dispositions relatives à la
            protection des droits d’auteur.<br><br>

            La directrice de publication est Madame Cécile Siutryk.<br><br>

            L’ensemble des éléments le composant tels que, à titre indicatif, le code source, la dénomination, le
            logo, les labels, les images, les documents téléchargeables et tout autre document sont la propriété
            exclusive d’Organic Azuki. A cet effet, il vous est interdit de reproduire sous quelque forme que ce soit,
            en totalité ou partiellement, de télécharger, de vendre, de distribuer, de publier ou encore de communiquer
            les éléments composant le présent site sauf autorisation écrite du responsable de la publication.
            Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit exprès d’Organic Azuki.
            Tout contrevenant à cette protection fera l’objet de poursuites.<br><br>

            L’Utilisateur garantit la véracité et l’exactitude des informations fournies par lui.<br><br>

            L’Utilisateur doit maintenir confidentielles les informations remplies lors de son inscription, y compris
            l’Identifiant et le Mot de passe permettant la connexion au Compte.  Vous devez informer immédiatement
            Organic Azuki en cas de perte ou de vol de ces informations afin de créer un autre Identifiant et
            Mot de passe.<br><br>

        </p>

        <h3> II. Notre politique de confidentialité pour protéger vos Données personnelles et votre vie privée</h3><br>

        <p style="font-size:110%;">
            Organic Azuki ne collecte des informations personnelles relatives à l’utilisateur que pour le besoin de
            certains Services proposés.<br><br>

            L’Utilisateur peut accepter de recevoir par email de la part d’Organic Azuki des newsletters, des
            informations et/ou des offres commerciales.<br><br>

            Le Site utilise des cookies pour gérer les sessions des utilisateurs.<br><br>

            L’Utilisateur fournit ses informations personnelles en toute connaissance de cause, notamment lorsqu’il
            procède par lui-même à leur saisie.<br><br>

            Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à
            l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification
            et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée,
            accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant
            l’adresse à laquelle la réponse doit être envoyée.<br><br>

            Aucune information personnelle de l’utilisateur du Site n’est publiée à l’insu de l’utilisateur, échangée,
            transférée, cédée ou vendue sur un support quelconque à des tiers. Nous nous engageons ainsi à protéger
            vos Données personnelles dans le cadre des présentes CGU et à ne jamais communiquer vos coordonnées à une
            tierce personne. Vos coordonnées sont stockées et protégées par nos services techniques. Lors de la création
            de votre Compte et lorsque vous utilisez nos Services, Organic Azuki récolte des informations personnelles
            vous concernant.<br><br>

            <strong>Descriptif des Données personnelles et informations que nous collectons :</strong><br><br>

            <strong>     - Les informations que vous nous transmettez</strong><br><br>

            Afin d’utiliser nos Services vous devez créer un Compte, nécessitant la communication de Données personnelles
            telles que votre nom, prénom, votre adresse e-mail et votre ville et pays de résidence.<br><br>

            <strong>     - Les informations collectées quand vous utilisez nos Services</strong><br><br>

            Des informations informatiques sont collectées lorsque vous utilisez nos Services, notamment différentes
            données relatives à l’appareil que vous utilisez (modèle, système d’exploitation) et des informations de
            connexion tel que le nom de votre fournisseur d’accès internet ou de votre opérateur mobile.<br><br>

            Nous utilisons également des cookies ou système de recueils d’informations similaires permettant
            d’identifier votre connexion, votre appareil et votre navigateur internet. <br><br>

            <strong>Utilisation par Organic Azuki des Données personnelles et informations collectées :</strong>

            Les données personnelles collectées sont réutilisées par Organic Azuki pour :<br><br>

            •	améliorer et développer les Services ;<br>
            •	communiquer avec vous et les personnes vous ayant attribué un Compte ;<br>
            •	améliorer la sécurité en protégeant les Utilisateurs et Organic Azuki.<br><br>

            Vous reconnaissez en acceptant les présentes CGU avoir donné votre consentement indubitable à
            l’exploitation de vos données personnelles (à défaut, vous n’utiliserez pas les Services). Cependant
            toute utilisation de données poursuivant une finalité autre que ceux qui sont exposés dans les présentes
            CGU nécessitera votre acceptation.<br><br>

            <strong>Sécurité et transmission des données personnelles à des tiers :</strong>

            <strong>Sécurité</strong><br><br>

            Les comptes des Utilisateurs sont protégés par un mot de passe et nous sécurisons vos Données personnelles
            notamment en évitant dans la mesure du possible tout accès, divulgation et modification de nature
            frauduleuse de vos données personnelles.<br><br>

            Organic Azuki prend des précautions afin de garantir que les données relatives aux Comptes restent
            confidentielles. Nous prenons des mesures raisonnables afin de protéger les données des Utilisateurs
            enregistrées dans notre base de données et nous limitons l’accès des données des membres au personnel
            en ayant besoin pour accomplir son travail. Toutefois, les consultations ou utilisations non autorisées,
            les pannes de matériel informatique ou de logiciel ainsi que d’autres facteurs peuvent à tout moment
            compromettre la sécurité des données des membres.<br><br>

            <strong>Transmissions de vos données personnelles à des prestataires et des tiers :</strong><br><br>

            Nous pouvons transmettre des données personnelles à des prestataires qui les traitent pour notre compte,
            en suivant nos directions, et dans le strict respect des règles de confidentialité.<br><br>

            Nous pouvons utiliser et divulguer des informations à des fins commerciales, marketing et stratégiques
            sans qu’il soit possible par le biais de ces informations d’identifier individuellement un Utilisateur.<br><br>

            Nous pouvons transmettre vos données personnelles lorsque nous pensons, que cette transmission est
            nécessaire afin de respecter la loi et pour protéger Organic Azuki, les Utilisateurs, les Administrateurs,
            nos Clients, leurs Clients ou le Public de manière générale. En vertu de la loi n°2000-719 du 1er août
            2000, les coordonnées déclarées par l’Utilisateur pourront ainsi être communiquées sur réquisition
            des autorités judiciaires.<br><br>

            Nous pouvons transmettre vos Données personnelles à toute personne ou entité qui acquiert notre activité
            commerciale ou nos actifs par quelconque voie de transmission.<br><br>

            <strong>Durée de conservation de vos Données personnelles :</strong><br><br>

            Nous conservons les Données personnelles le temps nécessaire pour vous permettre l’utilisation de
            nos Services.<br><br>

            Lorsque vous supprimez votre Compte nous procédons à la suppression de vos Données personnelles dans
            un laps de temps qui ne saurait excéder un strict délai de traitement informatique raisonnable.<br><br>

            <strong>Consultation, mise à jour, rectification et droit d’opposition :</strong><br><br>

            Vous pouvez contacter Organic Azuki afin de :<br><br>

            •	demander si nous détenons des Données personnelles vous concernant et d’en obtenir le cas échéant
            leur communication dans leur intégralité ;<br>
            •	demander à rectifier des informations inexactes vous concernant ;<br>
            •	vous opposer pour des motifs légitimes à figurer dans un fichier et vous opposer à ce que les données
            vous concernant soient diffusées, transmises ou conservées.<br><br>

            <strong>Notre politique relative aux cookies :</strong><br><br>

            Nous utilisons les cookies si vous avez un Compte, cependant nous n’utilisons pas les cookies pour collecter
            des informations nominatives. Vous pouvez modifier la gestion de vos cookies en vous rendant dans l’espace
            confidentialité de votre navigateur internet.<br><br>

            Nous utilisons les catégories de cookies suivantes :<br><br>

            •	Des cookies nécessaires à l’utilisation du Service et à améliorer la performance du Site. Ces cookies
            sont notamment utilisés afin de faciliter votre navigation sur le Site notamment pour vous proposer vos
            Identifiants ou encore vous permettre d’accéder à certaines pages du Site ;<br>
            •	Des cookies nécessaires pour sécuriser votre Compte ;<br>
            •	Des cookies nécessaires pour établir des statistiques et analyses.<br>

        </p>
    </div>
    <div ng-include="'/static/templates/general/footer.html'"></div>
</div>
