<nav layout="row"
     flex="100"
     hide-sm hide-xs hide-md
     style="width:100%; padding-left:2%;"
     layout-align="start start"
     ng-controller="NavbarController as vm">
  <div layout="column" flex="none" style="max-width:170px;" class="logo-div">
    <a class="logo-link" href="/" >
      <img class="img-fluid logo" src="/static/img/logo.png" alt="organic_azuki">
    </a>
  </div>
  <div layout="column" flex-align="space-between stretched" flex="100">
    <div layout="row" flex="none" layout-align="end stretched" style="">

      <div layout="column" flex="none" ng-repeat="(key, item) in navBar" style="position: relative;">
        <md-button ng-click="displaySubItems(key)"
                   class="md-primary md-raised cy-button"
                   ng-style="getBackgroundColor(item)"
                   ng-if="!item.isIcon && item.display">
          {{item.title}}
        </md-button>
        <div ng-if="item.displaySubItems" layout="column" flex="none" ng-repeat="(subkey, subitem) in item.subitems">
          <md-button ng-if="subitem.display" ng-click="goto(subkey)"
                     class="md-accent  md-raised cy-subbutton"
                     ng-style="getStyle($index, subitem)">
            {{subitem.title}}
          </md-button>
        </div>
        <md-button ng-click="logout(true)"
                   class="md-primary md-raised cy-button"
                   ng-if="item.isIcon && item.display" style="min-width:50px; padding-right: 10px;padding-left: 10px;">
           <md-icon md-font-icon="material-icons"
                   ng-click="logout(true)">{{item.icon}}
           </md-icon>

        </md-button>
      </div>
    </div>
    <div layout="column" layout-align="start center" style="margin-left:20%; max-width:80%;">
    </div>
  </div>
</nav>

<nav ng-controller="NavbarController as vm">
  <div layout="row"
       flex="100"
       hide-gt-md
       style="padding-left:2%; padding-right : 2%;"
       layout-align="space-between center">
    <div style="max-width: 70px;max-width: 70px;">
      <a class="logo-link" href="/" >
        <img class="img-fluid logo" src="/static/img/logo.png" alt="organic_azuki">
      </a>
    </div>
    <div layout="column">
      <h2 class="text-centered page-title-sm">{{pageTitle}}</h2>
      <h5 class="text-centered page-subtitle-sm">{{pageSubTitle}}</h5>
    </div>
    <div class="menu-burger-border" style="border:1px solid #3f3f3f; border-radius:4px;cursor: pointer;">
      <md-icon style="vertical-align:middle;"
               class="menu-icon menu-burger"
               md-font-icon="material-icons"
               ng-click="toggleMenu()">menu
      </md-icon>
    </div>
  </div>
  <div hide-gt-md layout="column" class="menu-items" ng-if="displayItemList" flex="100">
    <md-divider ></md-divider>
    <md-list flex class="md-dense">
      <md-list-item class="md-1-line" ng-repeat="item in itemList" ng-if="item.display" ng-click="clickItem(item)" aria-label="item.title">
        <md-divider></md-divider>
        <div class="md-list-item-text" layout="column" layout-align="center start">
          <h5 style="vertical-align: middle;font-size:28px;" class="menu-burger-item">{{ item.title }}</h5>
        </div>
        <md-list flex class="md-dense" ng-if="item.displaySubItems" style="margin-left: 5%;">
          <md-divider ></md-divider>
          <md-list-item class="md-1-line"
                        ng-repeat="subitem in item.subitems"
                        ng-click="clickItem(subitem)"
                        aria-label="item.title">
            <div class="md-list-item-text" layout="column" flex layout-align="center start">
              <h5 class="menu-burger-subitem" style="vertical-align: middle;font-size:24px;">{{ subitem.title }}</h5>
              <md-divider ng-if="!$last" ></md-divider>
            </div>
          </md-list-item>
        </md-list>
        <md-divider ></md-divider>
      </md-list-item>

    </md-list>
  </div>
</nav>
<div id="mainNav"></div>