<div class="oa-container">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-content"
         style="text-align:justify;"
         ng-class="{'presentation-md': $mdMedia('md'), 'presentation-gt-md': $mdMedia('gt-md')}">

        <h3>L’esprit Organic Azuki...</h3><br>
        <p style="text-align:justify;">Organic Azuki c'est de la douceur, des sourires et de jolis vêtements et accessoires en fibres biologiques pour
            femmes et enfants.<br>

            C’est aussi un style frais, simple avec un petit twist qui fait la différence et bien entendu dans des matières
            respectueuses de votre corps et de votre santé.<br><br>
        </p>

        <h3>Comment est né Organic Azuki ?</h3><br>
        <p style="text-align:justify;"> Organic Azuki est né de mon envie de proposer une mode plus responsable, plus respectueuse et durable.
            Pouvoir s’habiller et habiller nos enfants en toute confiance...<br>
            Rendre accessible le made in Europe et vous proposer des vêtements issus d’ateliers de fabrication qui
            correspondent à mon éthique tout en respectant les consommateurs, en utilisant des matériaux propres et des fibres
            issues de l'agriculture biologique.<br><br>

            Bienvenue chez <b>Organic Azuki</b> !
        </p>
    </div>
    <div ng-include="'/static/templates/general/footer.html'"></div>
</div>
