<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-container">
                <h1 class="page-title">Qui sommes nous ?</h1>


                <div layout="column" flex="70" flex-offset="20" class="content-container" style="min-height:400px;margin-top:200px;" >
                    <md-content flex layout-padding style="background-color:#fffdfa;font-size:20px;">
                        Lorem ipsum dolor sit amet, paulo fabulas perpetua no mel, alii corrumpit in vel.
                        <br><br>Eu per unum zril doctus, id sed dicant inimicus, iusto pertinax platonem mei at.
                        Ea sit scripta ancillae. Ut mea lorem augue. Pri in veri possit mollis.
                        Te ludus molestiae dignissim vis, quo salutatus reprehendunt te.

                        <br><br>Tempor persequeris sea eu, cu recusabo delicatissimi vis, id doctus volumus partiendo est.
                        Enim atomorum eam ex, eu altera prompta has, id voluptua singulis mnesarchum est.
                        At eam expetendis vituperata.
                        Sit iriure persecuti instructior eu, est mollis mediocritatem cu, sed harum suavitate no.

                        <br><br>Modo solet mei te. Quo graecis maiorum salutandi no, duo postea impedit et.
                        Mei eu esse dicunt maluisset, at illum persius omnesque sea.
                        Convenire maluisset ius an, et usu brute timeam antiopam, ei vix sumo copiosae.
                        Recteque interesset no eam. No est vide habemus consetetur.
                    </md-content>
                </div>

            </div>
        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>
