<div class="" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-container" style="text-align:justify;width:50%;margin: auto;">
        <h1 class="text-centered">Remerciements</h1><br><br>
        <p style="font-size:110%;">
            Merci merci merci à tous ceux qui ont soutenu Organic Azuki depuis le tout début, vous les petits
            bienfaiteurs du Web, mes amis, ma famille ou bien simplement de gentilles personnes qui ne me
            connaissent pas mais pour qui Organic Azuki a du sens !<br><br>

            Merci à Ania, Anna, Anne, Aurélie Rose, Béné, Charlotte, Claude, Diana, Dodo, Eve, Flo, François, Isa,
            Joëlle, Juan, ma petite Maman, Marie, Marie-B, Marlène, Mireille, Nad, Nanou, Nathalie, mon petit
            Papa, Rolande, Roulia, Sarah, Soizic et Véro !<br><br>

            Merci à Françoise qui a créé l’identité visuelle d’Organic Azuki, ce petit logo avec des haricots azukis,
            un brin malicieux mais sobre et qui nous ressemble. Merci d’être aussi bienveillante et consciencieuse !<br><br>

            Merci à mon Boudi qui m’a soutenue et même encouragée parfois ^^ , qui m’a fait douter aussi souvent ^^
            mais qui ne m’a jamais laissée abandonner. Et merci d’avoir eu la patience de travailler sur l’eshop.<br><br>

            Pour finir, merci à mon fils, mon petit Victor des bois, parce qu’il m’a donné le courage de me lancer et
            l’envie d’être une maman épanouie qui tente de proposer une mode plus respectueuse et plus saine.
            Merci merci merci...<br><br>
        </p>
    </div>
    <div ng-include="'/static/templates/general/footer.html'"></div>
</div>
