<div class="cy-sidenav" layout="column" flex layout-align="start start" ng-controller="SideNavbarController as vm">
    <!--<div class="cy-sidenav-title">{{currentSection.title}}</div>-->
    <div class="cy-sidenav-title" style="min-width:180px;min-height:25px;"> {{currentSection.title}}      </div>
    <div class="cy-sidenav-items" >
        <div ng-repeat="(key, item) in currentSection.subitems">
            <div class="cy-sidenav-item"
                 ng-style="getStyle(item)"
                 layout layout-align="start center">
                <md-icon md-font-icon="material-icons"
                         layout-alignment="center center"
                         class="cy-sidenav-icon"
                         ng-style="getStyle(item)">{{item.icon}}
                </md-icon>
                <a href="#"
                   ng-click="selectSubSection(key)"
                   ng-style="getStyle(item)">{{item.title}}
                </a>
            </div>
            <div class="cy-sidenav-subitem"
                 ng-if="item.currentLocation"
                 ng-repeat="(subitemkey, subitem) in currentSubSection.subitems"
                 layout layout-align="start center"
                 ng-class="{'cy-sidenav-last-subitem':$last}"
                 ng-style="getSubStyle(subitem)">
                <md-icon md-font-icon="material-icons"
                         layout-alignment="center center"
                         class="cy-sidenav-icon"
                         ng-style="getSubStyle(subitem)">{{subitem.icon}}
                </md-icon>
                <a href="#"
                   ng-click="selectSubItem(key, subitemkey, subitem)"
                   ng-style="getSubStyle(subitem)">{{subitem.title}}
                </a>
            </div>
        </div>
    </div>
</div>