<div class="oa-container" style="min-height:100%;" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-content">
        <md-progress-circular
                ng-if="state.loading"
                md-mode="indeterminate"
                style="margin:50%;">
        </md-progress-circular>


        <div  ng-if="!state.loading" layout>
            <div layout="column" flex="20">
                <md-button class="button-type-submit md-flat md-accent"
                           ng-click="selectAllCategories()"
                           ng-class="{'selected-categorie': state.allCategoriesSelected}">Tout
                </md-button>
                <md-button ng-repeat="categorie in data.categories"
                           class="button-type-submit md-flat md-accent"
                           ng-click="selectCategorie(categorie)"
                           ng-class="{'selected-categorie': categorie.selected}">{{categorie.nom}}
                </md-button>
            </div>
            <div layout-wrap
                 ng-if="!data.detailed_reference"
                 style="flex:wrap;display: flex;width:80%;margin-top:-30px;">
                <div  ng-repeat="reference in data.references"
                      flex="25" flex-md="50" flex-offset-md="15" layout-align="center center"
                      ng-class="{'reference-md': $mdMedia('md'), 'reference-gt-md': $mdMedia('gt-md'), 'reference-md-last': $last}">
                    <div layout="column" layout-align="space-between start">

                        <md-button ng-init="imgsrc=reference.primary_photo.main_image"
                                   ng-mouseover="imgsrc=reference.secondary_photo.main_image"
                                   ng-mouseout="imgsrc=reference.primary_photo.main_image"
                                   style="margin: auto;width:100%;"
                                   ng-click="clickSeeReferenceDetail(reference)">
                            <img style="max-height: 500px; max-width:100%;height: auto; width: auto;"
                                 ng-src="{{imgsrc}}"/>

                            <p style="font-size:120%;margin :auto;">{{reference.nom}}</p>
                            <p style="margin :auto;">{{reference.short_description}}</p>
                            <p style="margin :auto;font-size:120%;">{{reference.prix}} €</p>
                        </md-button>
                        <md-button class="button-type-submit md-raised md-primary"
                                   style="margin: auto;"
                                   ng-click="clickSeeReferenceDetail(reference)">
                            Voir le détail
                        </md-button>
                    </div>
                </div>
            </div>

            <div ng-show="data.detailed_reference"
                 layout layout-align="start start" layout-md="column" layout-align-md="space-between center"
                 style="width:80%;flex:wrap;display: flex;">
                <!-- Colonne images -->
                <div layout="column"
                     ng-class="{'colonne-images-md': $mdMedia('md'), 'colonne-images-gt-md': $mdMedia('gt-md')}">
                    <canvas style="margin:0 auto;width:auto;height:auto;max-width:400px;border: solid 1px rgba(135, 16, 43, 0.5)"
                            id="canvas">Image</canvas>

                    <div layout-wrap  layout-md="row" style="flex:wrap;display: flex;margin-top:30px;">
                        <div  ng-repeat="image in data.detailed_reference.details_photo"
                              flex="25" flex-md="25" layout-md="row" layout-align-md="space-between center" layout-align="center center"
                              style="margin: 15px 15px;">
                            <img ng-class="{'images-md': $mdMedia('md'), 'images-gt-md': $mdMedia('gt-md')}"
                                 ng-click="changeDetailedImage(image)"
                                 ng-src="{{image.main_image}}"/>
                        </div>

                    </div>
                </div>
                <!-- Colonne texte -->
                <div layout="column" layout-align="start start" flex="35" flex-md="80" flex-offset="0"
                     ng-class="{'colonne-texte-md': $mdMedia('md'), 'colonne-texte-gt-md': $mdMedia('gt-md')}">

                    <h3 style="margin:0 auto;"> {{data.detailed_reference.nom}}</h3>
                    <p style="margin:5% auto;text-align: justify;white-space: pre-line;word-wrap: break-word;"
                       ng-bind-html="data.detailed_reference.description"></p>
                    <p style="margin:15px auto;"> {{data.detailed_reference.prix}} €</p>

                    <div  style="margin:auto;" class="alert alert-success" ng-show="success" ng-bind="success"/>
                    <div style="color:red;margin:auto;"  class="alert alert-danger" ng-show="error" ng-bind="error"/>

                    <div layout layout-align="space-between center" style="width:70%;margin: 0 auto;">
                        <md-input-container ng-if="!(data.tailles | isEmptyArray)">
                            <div ng-messages="data.selected_taille.$error" ng-show="data.selected_taille.$invalid"/>
                            <md-select ng-required="1"
                                       style="font-size:20px;"
                                       ng-model="data.selected_taille"
                                       placeholder="Taille"
                                       oninvalid="this.setCustomValidity('Veuillez sélectionner une taille')"
                                       oninput="setCustomValidity('')"
                                       ng-change="selectedTailleChanged()">
                                <md-select-header>
                                    <span  style="font-size:20px;"> Taille </span>
                                </md-select-header>
                                <md-option ng-value="taille" ng-repeat="taille in data.tailles">{{ taille }}</md-option>
                            </md-select>
                        </md-input-container>

                        <div ng-if="(data.tailles | isEmptyArray)">
                            <h4> Taille unique </h4>
                        </div>

                        <div layout layout-align="end center">
                            <md-input-container>
                                <md-select ng-required="1"
                                           style="font-size:20px;"
                                           ng-model="data.selected_quantite"
                                           placeholder="Quantité"
                                           ng-change="selectedQuantiteChanged()">
                                    <md-select-header>
                                        <span  style="font-size:20px;"> Quantite </span>
                                    </md-select-header>
                                    <md-option ng-value="quantite" ng-repeat="quantite in data.quantites">{{ quantite }}</md-option>
                                </md-select>
                            </md-input-container><span ng-if="data.selected_quantite > 0">article<span ng-if="data.selected_quantite > 1">s</span></span>
                        </div>
                    </div>

                    <md-button class="button-type-submit md-raised md-primary"
                               ng-class="{'panier-button-md': $mdMedia('md'), 'panier-button-gt-md': $mdMedia('gt-md')}"
                               ng-click="clickAddToPanier()">
                        Ajouter au panier
                    </md-button>
                    <md-button class="button-type-submit md-raised md-primary"
                               ng-class="{'panier-button-md': $mdMedia('md'), 'panier-button-gt-md': $mdMedia('gt-md')}"
                               ng-click="clickBackToCollection()">
                        Retour
                    </md-button>
                </div>

                <md-sidenav class="md-sidenav-right md-whiteframe-4dp side-chart"
                            md-component-id="right"
                            style="height: 100%;">

                    <md-toolbar class="md-primary" style="height: 10%;">
                        <div layout layout-align="start center" style="width: 100%;margin: auto;">
                            <md-icon class="perm-icons" md-font-icon="material-icons"
                                     style="color: white;font-size:220%;margin:0;"
                                     ng-click="closeSideNav()">
                                keyboard_arrow_right
                            </md-icon>
                            <h3 class=""
                                style="color:white; margin:0 auto;font-weight:100;">Panier</h3>
                        </div>
                    </md-toolbar>
                    <md-content layout-margin style="padding:0px;">
                        <div>
                            <div layout layout-align="space-between center"
                                 class="md-3-line panier-item-sidenav"
                                 style="margin:30px auto;background-color: rgba(221, 102, 128, 0.2);padding:0;"
                                 ng-repeat="article in data.articles"
                                 ng-mouseenter="hoverArticleIn(article)"
                                 ng-mouseleave="hoverArticleOut(article)">
                                <div layout layout-align="start center" style="width:80%;">
                                    <img style="max-width:75px;max-height:100px;  height:auto; width:auto;" src="{{article.image.main_image}}"/>
                                    <div layout="column" flex="80" layout-align="space-between center" style="margin:0 0 0 3%;">
                                        <p style="margin:auto;text-transform:uppercase;"> {{article.reference.nom}}</p>
                                        <p style="margin:auto;"> Quantité : {{article.quantite}} ({{article.taille}})</p>
                                        <p style="margin:auto;"> {{article.reference.prix * article.quantite}}€</p>
                                    </div>
                                </div>
                                <md-icon class="perm-icons" md-font-icon="material-icons"
                                         style="font-size:22px;margin-right:15px;"
                                         ng-click="clickRemoveFromPanier(article)"
                                         ng-if="article.displayDeleteButton">cancel
                                </md-icon>
                            </div>
                        </div>
                        <h3 class="text-centered">
                            Prix total : {{data.cout_total}} €
                        </h3>
                        <div layout="column" layout-align="space-between center" style="margin-top: 10px;">
                            <md-button ng-click="closeSideNav()"
                                       class="md-primary  md-raised  text-centered text-up"
                                       style="width:80%;height:50px; margin:30px auto;font-weight: 700;">
                                Poursuivre mes achats
                            </md-button>
                            <md-button ng-click="gotoChart()"
                                       style="width:80%;height:50px; margin:0 auto 15px auto;font-weight: 700;"
                                       class="md-raised md-primary">
                                Voir le panier
                            </md-button>
                        </div>
                    </md-content>
                </md-sidenav>
            </div>
        </div>
    </div>

    <div class="oa-footer" ng-include="'/static/templates/general/footer.html'"></div>
</div>

