<div class="oa-container" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-content">
        <md-progress-circular
                ng-if="state.loading"
                md-mode="indeterminate"
                style="margin:50%;">
        </md-progress-circular>

        <!-- Steps -->
        <div ng-if="!state.loading"
             layout layout-align="space-between center"
             style="margin-bottom:5%;"
             ng-class="{'md': $mdMedia('md'), 'gt-md': $mdMedia('gt-md')}">
            <div id="resume_panier"
                 ng-class="{'current-step': state.stepSummary, 'not-current-step': !state.stepSummary}"><h4 > 1. Détails du panier </h4></div>
            <div id="details_livraison" ng-class="{'current-step': state.stepInformation, 'not-current-step': !state.stepInformation}"><h4> 2. Détails de livraison </h4></div>
            <div id="mode_livraison" ng-class="{'current-step': state.stepModeLivraison, 'not-current-step': !state.stepModeLivraison}"><h4> 3. Mode de livraison </h4></div>
            <div id="paiement" ng-class="{'current-step': state.stepPaiement, 'not-current-step': !state.stepPaiement}"><h4> 4. Paiement </h4></div>
        </div>

        <!-- Détails du panier -->
        <div ng-if="!state.loading && state.stepSummary && !(data.articles|isEmptyArray)"
             layout="column"
             ng-class="{'md': $mdMedia('md'), 'gt-md': $mdMedia('gt-md')}">

            <div style="padding:0px;">
                <div layout="column" flex style="width:100%;">
                    <div layout layout-align="start center"
                         style="margin:30px 0 0 0;padding:0px;">
                        <h3 style="margin:0;font-weight:100;color:#3f3f3f;width:50%;text-align:left;">
                            Mon panier ({{data.articles.length}} article<span ng-if="data.articles.length>1">s</span>)
                        </h3>
                        <p style="margin:0;font-weight:100;color:#3f3f3f;width:15%;text-align:center;">  Prix </p>
                        <p style="margin:0;font-weight:100;color:#3f3f3f;width:15%;text-align:center;">  Quantité</p>
                        <p style="margin:0;font-weight:100;color:#3f3f3f;width:15%;text-align:center;">  Total </p>

                    </div>
                    <div layout layout-align="space-between center"
                         class="panier-item"
                         style="width:100%; margin:30px auto;background-color: rgba(249, 224, 224, 0.5);padding:0px;"
                         ng-repeat="article in data.articles"
                         ng-mouseenter="hoverArticleIn(article)"
                         ng-mouseleave="hoverArticleOut(article)"
                         ng-class="{'panier-item-first': $first, 'panier-item-last': $last}">
                        <div layout layout-align="start center" style="margin:0;width:50%;">
                            <img style="max-width:150px;max-height:200px;  height:auto; width:auto;" src="{{article.image.main_image}}"/>
                            <div layout="column"
                                 layout-align="space-between start"
                                 style="margin:auto 10%;width:100%;">
                                <p style="margin:0;text-transform:uppercase;"> {{article.reference.nom}}</p>
                                <p style="margin:0;font-weight:100;color:#3f3f3f;"> Taille : {{article.taille}}</p>
                            </div>
                        </div>
                        <p style="margin:auto;font-weight:100;color:#3f3f3f;width:15%;text-align:center;">  {{article.reference.prix}} €</p>
                        <p style="margin:auto;font-weight:100;color:#3f3f3f;width:15%;text-align:center;">  {{article.quantite}}</p>
                        <p style="margin:auto;font-weight:100;color:#3f3f3f;width:15%;text-align:center;">  {{article.quantite * article.reference.prix}} € </p>

                        <md-icon class="perm-icons" md-font-icon="material-icons"
                                 style="font-size:22px, margin-right:0;width:5%;"
                                 ng-click="clickRemoveFromPanier(article)">
                            <!--ng-show="article.displayDeleteButton"-->cancel
                        </md-icon>
                    </div>
                    <div layout layout-align="start start"
                         style="margin:0px 0 0 0;padding:0px;">
                        <div layout="column" layout-align="start start" style="width:50%;">
                            <md-button layout
                                       layout-align="space-between center"
                                       class="md-accent"
                                       style="cursor: pointer;"
                                       ng-click="clickCodeReduction()">
                                <md-icon class="perm-icons md-primary" md-font-icon="material-icons"
                                         style="font-size:150%;margin:5% 6px 5% auto;">
                                    beenhere
                                </md-icon>
                                Code de réduction
                            </md-button>
                            <div layout ng-if="state.displayCodeReduction">
                                <input style="font-size:20px; border-radius: 10px;"
                                       id="code_de_reduction"
                                       name="description"
                                       type="text"
                                       class="form-control"
                                       ng-model="data.codeReduction"
                                       ng-change="changeForm()"/>
                                <md-button class="md-accent"
                                           ng-click="enterCodeReduction()">Valider
                                </md-button>
                            </div>

                            <md-button layout
                                       layout-align="space-between center"
                                       class="md-accent"
                                       style="cursor: pointer;"
                                       ng-click="clickAddComment()">
                                <md-icon class="perm-icons md-primary" md-font-icon="material-icons"
                                         style="font-size:150%;margin:5% 6px 5% auto;">
                                    assignment
                                </md-icon>
                                Ajouter un commentaire
                            </md-button>
                            <div layout ng-if="state.displayAddComment" style="width:100%;">
                                    <textarea style="font-size:16px; border-radius: 10px;height:200px;"
                                              id="comment"
                                              name="description"
                                              type="text"
                                              class="form-control"
                                              ng-model="data.addComment"
                                              ng-change="changeForm()"/>
                                <md-button class="md-accent"
                                           ng-click="enterAddComment()">Valider
                                </md-button>
                            </div>
                        </div>

                        <div layout="column" layout-align="start start" style="width:50%;margin: 0;">

                            <div layout style="width:100%;">
                                <p  style="margin:0;font-weight:100;font-size:130%;color:#3f3f3f;width:60%;text-align:center;">
                                    Sous-total :
                                </p>
                                <p style="margin:0;font-weight:100;font-size:130%;color:#3f3f3f;width:30%;text-align:center;">
                                    {{data.sous_total}} €
                                </p>
                            </div>
                            <div ng-if="data.reduction" layout style="width:100%;">
                                <p  style="margin:0;font-weight:100;font-size:110%;color:#3f3f3f;width:60%;text-align:center;color:green;">
                                    Réduction :
                                </p>
                                <p style="margin:0;font-weight:100;font-size:110%;color:#3f3f3f;width:30%;text-align:center;color:green;">
                                    {{data.reduction}} €
                                </p>
                            </div>

                            <div class="total-div" layout style="width:100%;margin-top:30px;">
                                <p  style="margin:0;font-weight:100;font-size:130%;color:#3f3f3f;width:60%;text-align:center;">
                                    Total (hors frais de livraison):
                                </p>
                                <p style="margin:0;font-weight:100;font-size:130%;color:#3f3f3f;width:30%;text-align:center;">
                                    {{data.total}} €
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout layout-align="space-between center" style="width:100%;margin:30px auto;">
                <md-button layout
                           layout-align="start center"
                           class="md-accent step-button"
                           ng-click="gotoShop()">
                    <md-icon class="perm-icons" md-font-icon="material-icons "
                             style="font-size:150%;margin:5% auto;">
                        keyboard_arrow_left
                    </md-icon>
                    Poursuivre mes achats
                </md-button>
                <md-button layout
                           layout-align="start center"
                           class="md-raised md-accent step-button"
                           style="padding:8px 12px; margin:0;text-align:center"
                           ng-click="clickValidateChart()">
                    <div layout>
                        <md-icon class="perm-icons md-primary" md-font-icon="material-icons"
                                 style="font-size:150%;">
                            done
                        </md-icon>
                        Valider mon panier
                    </div>
                </md-button>
            </div>
        </div>
        <div ng-if="!state.loading && state.stepSummary && (data.articles|isEmptyArray)" layout="column" style="width:60%" flex-offset="20">
            <h4 style="margin: auto;margin-bottom:5%;">Votre panier est vide</h4>
            <md-button layout
                       layout-align="start center"
                       class="md-primary md-raised"
                       style="margin: auto;"
                       ng-click="gotoShop()">
                <md-icon class="perm-icons" md-font-icon="material-icons "
                         style="font-size:150%;margin:5% auto;">
                    keyboard_arrow_left
                </md-icon>
                Poursuivre mes achats
            </md-button>
        </div>

        <!-- Informations personnelles -->
        <div ng-if="!state.loading && state.stepInformation" layout="column" style="width:100%;">
            <div layout="column" ng-if="(account|isEmpty)" ng-controller="RegisterController">
                <p style="margin: 0 auto;"> Vous n'êtes pas connecté(e), veuillez vous indentifier ou créer un compte Organic Azuki</p>
                <div ng-include="'/static/templates/authentication/login_register.html'"></div>
            </div>
            <div layout="column" style="width:100%;"  ng-if="!(account|isEmpty)">

                <div layout="column" layout-align="space-between center">
                    <form layout="column" layout-align="space-between center"
                          role="form" name="form"
                          novalidate
                          class="update-account-form"
                          ng-submit="submitted = true;">

                        <!-- Ligne Forms -->
                        <div layout layout-align="space-between start"
                             ng-class="{'width-100': state.differentAdresseFacturation,'width-60': !state.differentAdresseFacturation}">
                            <!-- Colonne Nom Prenom -->
                            <div layout="column"
                                 layout-align="start center"
                                 ng-class="{'width-30': state.differentAdresseFacturation,'width-45': !state.differentAdresseFacturation}">
                                <h4 style="margin:0 auto 30px auto;"> Données personnelles </h4>


                                <div class="form-group" ng-class="{'invalid-input' : submitted && form._prenom.$error.required}">
                                    <label class="quicksand-md">Prénom*</label>
                                    <input style="font-size:20px; border-radius: 10px;margin-bottom:5%;"
                                           name="_prenom"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.personnal_information.prenom"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form._prenom.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form._nom.$error.required}">
                                    <label class="quicksand-md" >Nom*</label>
                                    <input style="font-size:20px; border-radius: 10px;margin-bottom:5%;"
                                           name="_nom"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.personnal_information.nom"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form._nom.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form._email.$invalid}">
                                    <label class="quicksand-md" >Email*</label>
                                    <input style="font-size:20px; border-radius: 10px;margin-bottom:5%;"
                                           name="_email"
                                           type="email"
                                           class="form-control"
                                           ng-model="data.personnal_information.email"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form._email.$error.required">Champ obligatoire</span>
                                    <span class="help-inline" ng-show="submitted && !form._email.$error.required && form._email.$invalid">Champ invalide</span>
                                </div>
                            </div>

                            <!-- Adresse de livraison -->
                            <div layout="column" layout-align="space-between center" style="margin:0 auto; width:35%;"
                                 ng-class="{'width-30': state.differentAdresseFacturation,'width-45': !state.differentAdresseFacturation}">
                                <h4 ng-if="state.differentAdresseFacturation"
                                    class="text-centered"
                                    style="margin:0 auto 30px auto;" > Adresse de livraison </h4>
                                <h4 ng-if="!state.differentAdresseFacturation"
                                    class="text-centered"
                                    style="margin:0 auto 30px auto;"> Adresse </h4>
                                <div style="color:red;margin:auto;" class="alert alert-danger" ng-show="error" ng-bind="error"/>
                                <div style="margin:auto;" class="alert alert-success" ng-show="success" ng-bind="success"/>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.description.$error.required}">
                                    <label class="quicksand-md" for="adresse_livraison_description">
                                        Donnez un libellé à cette adresse*
                                    </label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_livraison_description"
                                           name="description"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse.description"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.description.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.prenom.$error.required}">
                                    <label class="quicksand-md" for="adresse_livraison_prenom">Prénom*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_livraison_prenom"
                                           name="prenom"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse.prenom"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.prenom.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.nom.$error.required}">
                                    <label class="quicksand-md" for="adresse_livraison_nom">Nom*</label>
                                    <input style="font-size:20px; border-radius: 10px; "
                                           id="adresse_livraison_nom"
                                           name="nom"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse.nom"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.nom.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.adresse.$error.required}">
                                    <label class="quicksand-md" for="adresse_livraison_adresse">Adresse*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_livraison_adresse"
                                           name="adresse"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse.adresse"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.adresse.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group">
                                    <label class="quicksand-md" for="adresse_livraison_compl_adresse">Complément d'adresse</label>
                                    <input style="font-size:20px; border-radius: 10px"
                                           id="adresse_livraison_compl_adresse"
                                           name="complement"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse.complement_adresse"
                                           ng-required="0"
                                           oninvalid="this.setCustomValidity('Champ obligatoire')"
                                           oninput="setCustomValidity('')"
                                           ng-change="changeForm()"/>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.postal_code.$error.required}">
                                    <label class="quicksand-md" for="adresse_livraison_code_postal">Code postal*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_livraison_code_postal"
                                           name="postal_code"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse.code_postal"
                                           ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/'
                                           ng-model-options="{allowInvalid: true}"
                                           required
                                           ng-change="codePostalChanged()"/>
                                    <span class="help-inline" ng-show="submitted && form.postal_code.$error.required">Champ obligatoire</span>
                                    <span class="help-inline" ng-show="submitted && !form.postal_code.$error.required && form.postal_code.$invalid">Champ invalide</span>

                                    <div style="background-color:white;cursor:pointer;">
                                        <div ng-repeat="(code, city) in data.citiesSuggestion">
                                            <div ng-click="selectCity(code, city)">
                                                <span>{{code}}</span>
                                                <span>{{city}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.city.$error.required}">
                                    <label class="quicksand-md" for="adresse_livraison_ville">Ville*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_livraison_ville"
                                           name="city"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse.ville"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.city.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.country.$error.required}">
                                    <label class="quicksand-md" for="adresse_livraison_pays">Pays*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_livraison_pays"
                                           name="country"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse.pays"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.country.$invalid">Champ obligatoire</span>
                                </div>
                            </div>

                            <!-- Adresse de Facturation -->
                            <div layout="column"
                                 layout-align="space-between center"
                                 ng-if="state.differentAdresseFacturation"
                                 style="margin:0 auto;"
                                 ng-class="{'width-30': state.differentAdresseFacturation,'width-45': !state.differentAdresseFacturation}">
                                <h4 class="text-centered"style="margin:0 auto 30px auto;" > Adresse de facturation </h4>
                                <div style="color:red;margin:auto;" class="alert alert-danger" ng-show="error" ng-bind="error"/>
                                <div style="margin:auto;" class="alert alert-success" ng-show="success" ng-bind="success"/>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.description2.$error.required}">
                                    <label class="quicksand-md" for="adresse_facturation_description">
                                        Donnez un libellé à cette adresse*
                                    </label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_facturation_description"
                                           name="description2"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse2.description"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.description2.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.prenom2.$error.required}">
                                    <label class="quicksand-md" for="adresse_facturation_prenom">Prénom*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_facturation_prenom"
                                           name="prenom2"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse2.prenom"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.prenom2.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.nom2.$error.required}">
                                    <label class="quicksand-md" for="adresse_facturation_nom">Nom*</label>
                                    <input style="font-size:20px; border-radius: 10px; "
                                           id="adresse_facturation_nom"
                                           name="nom2"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse2.nom"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.nom2.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.adresse2.$error.required}">
                                    <label class="quicksand-md" for="adresse_facturation_adresse">Adresse*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_facturation_adresse"
                                           name="adresse2"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse2.adresse"
                                           ng-required="1"
                                           oninvalid="this.setCustomValidity('Champ obligatoire')"
                                           oninput="setCustomValidity('')"
                                           ng-change="changeForm()"/>
                                    <span class="help-inline" ng-show="submitted && form.adresse2.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group">
                                    <label class="quicksand-md" for="adresse_facturation_compl_adresse">Complément d'adresse</label>
                                    <input style="font-size:20px; border-radius: 10px"
                                           id="adresse_facturation_compl_adresse"
                                           name="complement"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse2.complement_adresse"
                                           ng-required="0"
                                           oninvalid="this.setCustomValidity('Champ obligatoire')"
                                           oninput="setCustomValidity('')"
                                           ng-change="changeForm()"/>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.postal_code2.$error.required}">
                                    <label class="quicksand-md" for="adresse_facturation_code_postal">Code postal*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_facturation_code_postal"
                                           name="postal_code2"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse2.code_postal"
                                           ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/'
                                           ng-model-options="{allowInvalid: true}"
                                           required
                                           ng-change="codePostalChanged2()"/>
                                    <span class="help-inline" ng-show="submitted && form.postal_code2.$invalid">Champ obligatoire</span>
                                    <div style="background-color:white;cursor:pointer;">
                                        <div ng-repeat="(code, city) in data.citiesSuggestion2">
                                            <div ng-click="selectCity2(code, city)">
                                                <span>{{code}}</span>
                                                <span>{{city}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.city2.$error.required}">
                                    <label class="quicksand-md" for="adresse_facturation_ville">Ville*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_facturation_ville"
                                           name="city2"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse2.ville"
                                           required/>
                                    <span class="help-inline" ng-show="submitted && form.city2.$invalid">Champ obligatoire</span>
                                </div>
                                <div class="form-group" ng-class="{'invalid-input' : submitted && form.country2.$error.required}">
                                    <label class="quicksand-md" for="adresse_facturation_pays">Pays*</label>
                                    <input style="font-size:20px; border-radius: 10px;"
                                           id="adresse_facturation_pays"
                                           name="country2"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.adresse2.pays"
                                           ng-required="1"
                                           oninvalid="this.setCustomValidity('Champ obligatoire')"
                                           oninput="setCustomValidity('')"
                                           ng-change="changeForm()"/>
                                    <span class="help-inline" ng-show="submitted && form.country2.$invalid">Champ obligatoire</span>
                                </div>
                            </div>
                        </div>
                        <md-checkbox ng-model="state.differentAdresseFacturation"
                                     aria-label="differentAdresseFacturation"
                                     ng-change="clickDifferentAdresses()"
                                     style="margin: auto;">
                            Adresse de facturation différente
                        </md-checkbox>
                        <!-- Boutons précédent/suivant -->
                        <div layout layout-align="space-between center" style="width:55%;margin:30px auto;">
                            <md-button layout
                                       layout-align="start center"
                                       class="md-accent step-button"
                                       ng-click="backToChart()">
                                <md-icon class="perm-icons" md-font-icon="material-icons "
                                         style="font-size:150%;margin:5% auto;">
                                    keyboard_arrow_left
                                </md-icon>
                                Revoir mon panier
                            </md-button>
                            <md-button layout
                                       layout-align="start center"
                                       class="md-raised md-accent step-button"
                                       style="padding:8px 12px; margin:0;text-align:center"
                                       ng-click="clickValidateInformation(form.$invalid)">
                                <div layout>
                                    <md-icon class="perm-icons md-primary" md-font-icon="material-icons"
                                             style="font-size:150%;">
                                        done
                                    </md-icon>
                                    Valider mes informations
                                </div>
                            </md-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-if="!state.loading && state.stepModeLivraison"
             layout="column" flex-offset="0" layout-align="space-between center"
             style="width:100%;">
            <h4 style="margin:0 auto;">Veuillez choisir le mode de livraison</h4>
            <div layout="column" layout-align="center center" style="width:40%;margin: auto;">
                <md-radio-group ng-model="data.selected_mode_livraison">
                    <div ng-repeat="mode in data.modesDeLivraison">
                        <md-radio-button
                                ng-value="mode"
                                class="md-primary"
                                style="margin: 30px auto;background-color: rgba(249, 224, 224, 0.5);
                                                padding:30px;
                                                outline:1px solid #3f3f3f;
                                                outline-offset: 5px;">
                            {{mode.description}} : {{ mode.prix}} €
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>
            <!-- Boutons précédent/suivant -->
            <div layout layout-align="space-between center" style="width:55%;margin:30px auto;">
                <md-button layout
                           layout-align="start center"
                           class="md-accent step-button"
                           ng-click="clickValidateChart()">
                    <md-icon class="perm-icons" md-font-icon="material-icons "
                             style="font-size:150%;margin:5% auto;">
                        keyboard_arrow_left
                    </md-icon>
                    Revoir mes informations
                </md-button>
                <md-button layout
                           layout-align="start center"
                           class="md-raised md-accent step-button"
                           ng-disabled="!data.selected_mode_livraison"
                           style="padding:8px 12px; margin:0;text-align:center"
                           ng-click="clickValidateModeLivraison()">
                    <div layout>
                        <md-icon class="perm-icons md-primary" md-font-icon="material-icons"
                                 style="font-size:150%;">
                            done
                        </md-icon>
                        Valider la livraison
                    </div>
                </md-button>
            </div>
        </div>

        <div ng-if="!state.loading && state.stepPaiement"
             layout="column" flex-offset="10" layout-align="space-between center"
             style="width:80%;">

            <div ng-if="!state.loading && state.stepPaiementInformation"
                 layout="column" flex="100" layout-align="space-between center"
                 style="width:100%;">
                <h4 style="margin:0 auto;">Veuillez remplir vos informations bancaires </h4>
                <!-- Test ==> Card Number : 4242-4242-4242-4242   / Expiry : 12/18 / CVC : 999 -->
                <form layout="column"
                      flex="100"
                      flex-offset="0"
                      style="margin:30px auto; width:80%;"
                      stripe-form="stripeCallback">
                    <div style="margin: auto; " ng-if="checkoutForm.card.$invalid">Error: invalid card number!</div>
                    <div style="margin: auto; " layout layout-align="space-between center">
                        <md-input-container layout layout-align="space-between center">
                            <label> N° de carte </label>
                            <md-icon class="perm-icons" md-font-icon="material-icons ">
                                credit_card
                            </md-icon>
                            <input class="input-form"
                                   style="margin-left:0px;"
                                   ng-model="number"
                                   placeholder="N° de carte"
                                   payments-format="card"
                                   payments-validate="card"
                                   ng-change="changeCardFrom()"/>
                        </md-input-container>
                    </div>
                    <div style="margin: auto; " layout layout-align="space-between center">
                        <md-input-container layout layout-align="space-between center">
                            <label> Date d'expiration </label>
                            <md-icon class="perm-icons" md-font-icon="material-icons ">
                                calendar_today
                            </md-icon>
                            <input class="input-form"
                                   style="margin-left:0px;"
                                   ng-model="expiry"
                                   placeholder="Date d'expiration"
                                   payments-format="expiry"
                                   payments-validate="expiry"
                                   ng-change="changeCardFrom()"/>
                        </md-input-container>
                    </div>
                    <div style="margin: auto; " layout layout-align="space-between center" >
                        <md-input-container layout layout-align="space-between center">
                            <label> CVC </label>
                            <md-icon class="perm-icons" md-font-icon="material-icons ">
                                lock
                            </md-icon>
                            <input class="input-form"
                                   style="margin-left:0px;"
                                   ng-model="cvc"
                                   placeholder="CVC"
                                   payments-format="cvc"
                                   payments-validate="cvc"
                                   ng-change="changeCardFrom()"/>
                        </md-input-container>
                    </div>

                    <!-- Boutons précédent/suivant -->
                    <div layout layout-align="space-between center" style="width:60%;margin:30px auto;">
                        <md-button layout
                                   layout-align="start center"
                                   class="md-accent step-button"
                                   ng-click="clickBackToModeLivraison()"
                                   style="padding: 8px 15px;">
                            <md-icon class="perm-icons" md-font-icon="material-icons "
                                     style="font-size:150%;margin:5% auto;">
                                keyboard_arrow_left
                            </md-icon>
                            Retour
                        </md-button>
                        <md-button layout
                                   layout-align="start center"
                                   class="md-raised md-accent step-button"
                                   style="padding:8px 15px; margin:0;text-align:center"
                                   type="submit"
                                   ng-click="proceedTransaction()">
                            <div layout>
                                <md-icon class="perm-icons md-primary" md-font-icon="material-icons"
                                         style="font-size:150%;">
                                    done
                                </md-icon>
                                Payer
                            </div>
                        </md-button>
                    </div>
                </form>
            </div>
            <div ng-if="state.stepPaiementInProgress"
                 class="text-container transaction-step"
                 style="margin-bottom:15%;width:100%;"
                 layout="column" flex
                 layout-align="space-between center">
                <h4 class="text-centered" style="margin-bottom: 150px;">Transaction en cours</h4>
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular style="margin:auto;margin-bottom: 150px;" ng-disabled="data.transaction_successful" md-mode="indeterminate"></md-progress-circular>
                </div>

            </div>

            <div ng-if="state.stepPaiementSuccess"
                 class="text-container transaction-step"
                 style="margin-bottom: 20%;;width:100%;"
                 layout="column" flex
                 layout-align="space-between center">

                <h4 class="text-centered transaction-step-success" style="margin-bottom: 150px;">{{ success }}  </h4>

                <md-button layout
                           layout-align="start center"
                           class="md-raised md-accent step-button"
                           style="padding:8px 15px; margin:0;text-align:center"
                           ng-click="gotoShop()">
                    <div layout>
                        <md-icon class="perm-icons md-primary" md-font-icon="material-icons"
                                 style="font-size:150%;">
                            undo
                        </md-icon>
                        Retour
                    </div>
                </md-button>
            </div>

            <div ng-if="state.stepPaiementError"
                 class="text-container transaction-step"
                 style="margin-bottom: 20%;;width:100%;"
                 layout="column" flex
                 layout-align="space-between center">
                <div style="color:red;" class="alert alert-danger" ng-show="error" ng-bind="error"></div>
                <!--<h4 class="text-centered transaction-step-error" style="margin-bottom: 150px;">{{ error }}  </h4>-->
                <md-button ng-click="gotoShop()"
                           class="md-primary md-raised cy-button">
                    Retour
                </md-button>
            </div>
        </div>
    </div>
    <div ng-include="'/static/templates/general/footer.html'"></div>
</div>






