<div class="oa-container" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-container">
        <div layout="column" flex-offset="25" flex="50">
            <div ng-if="!state.password_invalidated">
                <h3 class="text-centered" > Renouvellement de mot de passe </h3>
                <h4 class="text-centered" style="margin-top:30px; margin-bottom:2%;">
                    Vous êtes sur le point de réclamer un nouveau mot de passe. <br><br>
                    En cliquant sur "Envoyer", vous recevrez un email contenant un lien vous permettant de renouveller votre mot de passe.
                </h4>
                <h4 class="text-centered" style="color:red; margin-top:15px; margin-bottom:2%;">
                    Attention, ce lien n'est valable que 24h, nous vous recommandons donc de changer votre mot de passe dès réception de l'email.
                </h4>
            </div>
            <div ng-if="!state.password_invalidated"
                 style="margin: 2% auto 15% auto; width:30%;"
                 layout="column" layout-align="space-between center"
                 flex="40">
                <form role="form"  layout="column" layout-align="space-between center">
                    <div style="color:red;" class="alert alert-danger" ng-show="login_error" ng-bind="login_error"></div>
                    <div class="form-group"  layout="column" layout-align="space-between center">
                        <label class="quicksand-md" for="login__email">Email *</label>
                        <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;margin:15px auto;"
                               id="login__email"
                               name="email"
                               class="form-control"
                               ng-model="login.email"
                               ng-required="1"
                               oninvalid="this.setCustomValidity('Champ obligatoire')"
                               oninput="setCustomValidity('')"
                               ng-change="login.checkLoginEmail()"/>
                    </div>
                    <md-button
                            style="margin:15px auto;"
                            ng-click="cancelRecovery()"
                            class="md-primary md-raised cy-button">
                        Retour
                    </md-button>
                    <md-button
                            ng-click="processRecovery()"
                            style="margin:0 auto;"
                            ng-disabled=""
                            class="md-primary md-raised cy-button">
                        Envoyer
                    </md-button>
                </form>
            </div>
            <div ng-if="state.password_invalidated"
                 style="margin: 2% auto 20% auto;"
                 layout="column" layout-align="space-between center"
                 flex="60">
                <h4 class="text-centered" style="margin-top:30px; margin-bottom:2%; color:green;">
                    Si votre compte existe, votre mot de passe a bien été réinitialisé. <br>
                    Un email vous a été envoyé à l'adresse saisie, pour vous indiquer comment vous connecter à nouveau. <br>
                    Pensez à vérifier vos spams, si vous ne le recevez pas dans les prochaines minutes<br><br>
                </h4>
                <md-button
                        ng-click="backToLandingpage()"
                        class="md-primary md-raised cy-button"
                        style="margin: 2% auto 10% auto;">
                    Retour à l'accueil
                </md-button>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/static/templates/general/footer.html'"></div>
