
<div class="oa-container" layout="column">
    <div ng-include="'/static/templates/general/banner.html'"></div>
    <div class="main-container">
        <div layout="column" flex-offset="25" flex="50">
            <div style="min-height:1200px;" ng-if="!state.loaded">
                <md-progress-circular
                        ng-disabled="data.transaction_successful"
                        md-mode="indeterminate"
                        style="margin: 50% auto;">
                </md-progress-circular>
            </div>
            <div ng-if="state.loaded">
                <div ng-if="state.token_invalid" style="margin: 2% auto 15% auto;" layout="column" flex="60">
                    <div style="margin: 30% auto 10% auto; width:100%;color:red;"
                         class="alert alert-danger" ng-show="state.token_invalid" ng-bind="state.token_invalid"></div>
                    <md-button
                            ng-click="newRecovery()"
                            class="md-primary md-raised cy-button"
                            style="margin: 2% auto 40% auto;">
                        Nouveau mot de passe
                    </md-button>
                </div>
                <div ng-if="!state.token_invalid">
                    <div ng-if="!state.password_updated_by_user">
                        <h4 class="text-centered" style="margin-top:150px; margin-bottom:2%;">
                            Vous pouvez maintenant modifier votre mot de passe.<br><br>
                        </h4>
                        <h4 class="text-centered" style="color:red; margin-top:15px; margin-bottom:2%;">
                            Attention, ce lien n'est valable que 24h, nous vous recommandons donc de changer votre mot de passe dès réception de l'email.
                        </h4>
                        <div style="margin: 10% auto 15% auto; width:30%;" layout="column" layout-align="space-between center" flex="40">
                            <form role="form" layout="column" layout-align="space-between center">
                                <div style="color:red;" class="alert alert-danger" ng-show="password_invalid" ng-bind="password_invalid"></div>
                                <div class="form-group">
                                    <label class="quicksand-md" for="login__password">Mot de passe *</label>
                                    <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;"
                                           id="login__password"
                                           name="password"
                                           type="password"
                                           class="form-control"
                                           ng-model="login.password"
                                           ng-required="1"
                                           oninvalid="this.setCustomValidity('Champ obligatoire')"
                                           oninput="setCustomValidity('')"
                                           ng-change="changeForm()"/>
                                    <label class="quicksand-md" for="login__password">Confirmer votre mot de passe *</label>
                                    <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;"
                                           id="login__password2"
                                           name="password2"
                                           type="password"
                                           class="form-control"
                                           ng-model="login.password2"
                                           ng-required="1"
                                           oninvalid="this.setCustomValidity('Champ obligatoire')"
                                           oninput="setCustomValidity('')"
                                           ng-change="changeForm()"/>
                                </div>
                                <md-button
                                        style="margin: auto;"
                                        ng-click="changePassword()"
                                        ng-disabled="login.password==undefined || login.password2==undefined"
                                        class="md-primary md-raised cy-button">
                                    Modifier
                                </md-button>
                            </form>
                        </div>
                    </div>
                    <div ng-if="state.password_updated_by_user" style="margin: 2% auto 15% auto;" layout="column" flex="60">
                        <h4 class="text-centered" style="margin-top:150px; margin-bottom:2%; color:green;">
                            Votre mot de passe a bien été mis à jour<br><br>
                        </h4>
                        <md-button
                                ng-click="backToLandingpage()"
                                class="md-primary md-raised cy-button"
                                style="margin: 2% auto 40% auto;">
                            Retour à l'accueil
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/static/templates/general/footer.html'"></div>

<!--</div>-->


